{% extends 'visor/general/base.html' %}
{% load humanize %}

{% block content %}
    <h1 class="visor-title h1">DECLARACIONES ABIERTAS</h1>
    <section class="visor-home my-lg-5">
        <article>
            <h3 class="h1">{{ count_declaraciones|intcomma }}</h3>
            <p>Declaraciones públicas de las personas funcionarias de la Ciudad de México</p>
        </article>
        <article class="visor-center">
            <h3 class="h1">{{ range_year }} {% if range_year == 1 %} año {% else %} años {% endif %}</h3>
            <p>Información disponible de {{ min_year }} a la fecha</p>
        </article>
        <article>
            <h3 class="h1">Transparencia</h3>
            <p>Los datos se encuentran disponibles para descargarse en formato JSON, CSV, XML y PDF</p>
        </article>
    </section>
{% endblock %}
