{% extends 'visor/general/base.html' %}
{% load visor %}
{% load static %}
{% load img_data %}

{% block content %}
    <div class="text-right mb-4">
        Declaraciones públicas 
        <strong>
            {{ request.GET.year }} <span class="c-primary">|</span>
            {% ente_publico request.GET.dependency %}
        </strong>
        {% comment %}
            <div class="descargas d-inline">
                <strong class="c-success-main">Descargar <i class="fas fa-caret-down"></i></strong>
                {% with query_string=request.META.QUERY_STRING %}
                    <ul>
                        <li><a target="_blank" href="{% url 'declaracion:visor-list-pdf' %}?{{ query_string }}">PDF</a></li>
                        <!-- <li id="PDF" onclick="return false;"><a href="javascript:void(0);">PDF</a></li> -->
                        {# <li><a target="_blank" href="{% url 'declaracion:visor-api' %}?format=json&{{ query_string }}" download="visor.json">JSON</a></li> #}
                        {# <li><a target="_blank" href="{% url 'declaracion:visor-api' %}?format=xml&{{ query_string }}" download="visor.xml">XML</a></li> #}
                        {# <li><a target="_blank" href="{% url 'declaracion:visor-api' %}">API</a></li> #}
                        <li><a target="_blank" href="{% url 'declaracion:visor-api' %}?format=csv&{{ query_string }}" download="visor.csv">CSV</a></li>
                        <!-- <li id="CSV"><a href="#">CSV</a></li> -->
                    </ul>
                {% endwith %}
            </div>
        {% endcomment %}
    </div>
    <div class="table-responsive-md">
        <table id="visorList" class="table table-hover table-visor">
            <thead>
                <tr>
                    <th scope="col">Año</th>
                    <th scope="col">Dependencia/Alcaldía</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puesto</th>
                    <th scope="col" class="no-sort">Ver detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for decla in declaraciones %}
                    <tr>
                        <td>{% if decla.fecha %}{{ decla.fecha|date:'Y' }}{% else %} - {% endif %}</td>
                        <td>{{ decla.dependencia|truncatechars:100|titlecase }}</td>
                        <td>{{ decla.nombre_completo|titlecase }}</td>
                        <td>{{ decla.puesto|truncatechars:100|titlecase }}</td>
                        <td>
                            {% if decla.version_publica == True %}
                                <a href="{% url 'declaracion:visor-detail' decla.pk %}" class="visor-link-detail"></a>
                            {% else %}
                                <a href="javascript:void(0)" style="visibility:hidden;" class="visor-link-detail"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}{% page_number 1 %}{% else %}#{% endif %}" aria-label="Primero">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Primero</span>
                </a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}{% page_number page_obj.previous_page_number %}{% else %}#{% endif %}" aria-label="Anterior">
                    <span aria-hidden="true">Anterior</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li class="page-item">
                <div style="padding: 0.5rem;margin-right: 0;margin-left: 0;">
                    <span class="align-middle">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                </div>
            </li>
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}{% page_number page_obj.next_page_number %}{% else %}#{% endif %}" aria-label="Siguiente">
                    <span aria-hidden="true">Siguiente</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}{% page_number page_obj.paginator.num_pages %}{% else %}#{% endif %}" aria-label="Último">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Último</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        let table = $('#visorList').DataTable({
            dom: 'Bfrtip',
            paging: false,
            language: {
                "emptyTable": "No se encontraron registros"
            },
            bFilter: false,
            bInfo: false,
            lengthChange: false,
            bSort : true,
            info: false,
            stripeClasses: [],
            order: [[0, "desc"]],
            buttons: [
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [ 0, 1, 2, 3]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait', //portrait
                    pageSize: 'letter', //A3 , A5 , A6 , legal , letter
                    exportOptions: {
                        columns: ':visible',
                        search: 'applied',
                        order: 'applied',
                        columns: [ 0, 1, 2, 3 ]
                    },
                    customize: function (doc) {
                        doc.content.splice(0,1);
                        doc.pageMargins = [20,68,20,40];
                        doc.defaultStyle.fontSize = 7;
                        doc.styles.tableHeader.fontSize = 7;
                        doc.styles.tableHeader.fillColor = '#0f4c42';
                        doc['header']=(function() {
                            return {
                                columns: [
                                    {
                                        table: {
                                            widths: ['100%'],
                                            body: [
                                                [
                                                    {
                                                        image: "{% encode_img 'logo.png' %}",
                                                        width: 150,
                                                        margin: [8,0,0,0]
                                                    }
                                                ]
                                            ]
                                        },
                                        layout: 'noBorders',
                                        color: 'white',
                                        fillColor: '#1bb600',
                                    }
                                ],
                                background: '#000',
                                margin: 20
                            }
                        });
                        doc['footer']=(function(page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'right',
                                        text: ['página ', { text: page.toString() },' de ',{ text: pages.toString() }]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        var objLayout = {};
                        objLayout['hLineWidth'] = function(i) { return .5; };
                        objLayout['vLineWidth'] = function(i) { return .5; };
                        objLayout['hLineColor'] = function(i) { return '#aaa'; };
                        objLayout['vLineColor'] = function(i) { return '#aaa'; };
                        objLayout['paddingLeft'] = function(i) { return 4; };
                        objLayout['paddingRight'] = function(i) { return 4; };
                        doc.content[0].layout = objLayout;
                    }
                }
            ],
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }]
        });
        $('.dt-buttons').hide();
        $("#PDF").on("click", function() {
            table.button('.buttons-pdf').trigger();
        });
        $("#CSV").on("click", function() {
            table.button('.buttons-csv').trigger();
        });
    });
</script>
{% endblock %}