{% extends "easy_pdf/base.html" %}
{% load static %}
{% load qr_code %}
{% block layout_style %}
  <style type="text/css">
    body, html {
      color:#515151;
    }
    .logo {
      background-color: #31b700;
    }
    .navbar-brand {
      width: 200px
    }
    #footer {
      height:60px;   /* Height of the footer */
      margin-top: 100px;
    }
  </style>
{% endblock %}

{% block extra_style %}
  <!-- <link rel="stylesheet" href="{% static 'app.css' %}"> -->
{% endblock %}

{% block page_header %}
<div class="container" style="padding-down:15px;">
  <div class="row">
    <table>
      <tr>
        <td width="70%">
          <div>
            <a class="navbar-brand text-align:">
              <img src="{% static 'src/img/logo-acuse.png' %}" width="800px" alt="Gobierno de la Ciudad de México">
            </a>
          </div>
        </td>
        <td width="30%" style="height:60px;text-align:center;">
          <h1>ACUSE DE RECIBO</h1>  
        </td>
      </tr>
    </table>
    {% endblock %}

    {% block content %}
    <br>
    <p></p>
    <table>
        <tr width="100%">
            <td colspan="2" style="padding-top:15px;">
                <h2>Ciudad de México a, {% now "j F Y H:i" %}</h2> 
            </td>
        </tr>
        <tr>
            <td>
                <h2>Declaración de Situación Patrimonial y de Intereses de los Servidores Públicos de la Ciudad de México</h2>
            </td>
        </tr>
        <tr>
            <td width="50%">
            </td>
            <td width="50%" style="text-align:right;">
              <div>
                <span style="font-size:11px;color:#00C547;font-weight:bold;">Folio: </strong></span><span style="font-size:10px;color:#00C547;font-weight:bold;">{{ folio_declaracion }}</span>
              </div>
              {% qr_from_text url_site size="4" image_format="png" error_correction="L" %}
              {% comment %} {% qr_from_text url_site size="m" image_format="png" error_correction="L" %} {% endcomment %}
          </td>
        </tr>
    </table>
    <div style="width:100%;text-align:left;margin:0px 30px;">
      <h2 style="color:#00C547;">{{ declaracion.cat_tipos_declaracion.nombre|upper }}</h2>
    </div>
    <table width="100%" cellspacing="0" cellpadding="4">
      <tbody>
        <tr valign="top">
          <td style="border: 1px solid #C4C4D0;padding: 0.1cm 0cm 0.1cm 0.1cm;" width="100%" colspan="2">
            <p style="text-align:justify;padding-top:5px;">C. SECRETARIO DE LA CONTRALORÍA GENERAL: BAJO PROTESTA DE DECIR VERDAD PRESENTO A USTED LA
              {% if declaracion.cat_tipos_declaracion.codigo == 'INICIAL' %}
                DECLARACIÓN DE INICIO A QUE SE REFIERE EL ARTÍCULO 33 FRACCIÓN I, DE LA LEY DE RESPONSABILIDADES ADMINISTRATIVAS DE LA CIUDAD DE MÉXICO. 
              {% elif declaracion.cat_tipos_declaracion.codigo == 'CONCLUSION' %}
                DECLARACIÓN DE CONCLUSIÓN A QUE SE REFIERE EL ARTÍCULO 33 FRACCIÓN III, DE LA LEY DE RESPONSABILIDADES ADMINISTRATIVAS DE LA CIUDAD DE MÉXICO.
              {% elif declaracion.cat_tipos_declaracion.codigo == 'MODIFICACION' %}
                DECLARACIÓN DE MODIFICACIÓN PATRIMONIAL A QUE SE REFIERE EL ARTÍCULO 33 FRACCIÓN lI, DE LA LEY DE RESPONSABILIDADES ADMINISTRATIVAS DE LA CIUDAD DE MÉXICO.
              {% endif %}
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td style="border: 1px solid #C4C4D0; padding: 0cm 0cm 0.1cm 0.1cm;" width="50%">
            <div style="width:100%;margin:0px;">
                      <span><strong>Nombre: </strong></span><span>{{ info_personal_fija.nombres }} {{info_personal_fija.apellido1}} {{info_personal_fija.apellido2}} </span>
                    </div>
            <div style="width:100%;margin:0px;">
                <span><strong>R.F.C: </strong></span><span>{{ info_personal_fija.rfc }}</span>
              </div>
              <div style="width:100%;margin:0px;">
                <span><strong>CURP: </strong></span><span>{{ info_personal_fija.curp }}</span>
              </div>
              <div style="width:100%;margin:0px;">
                <span><strong>FECHA DE TRANSMISIÓN: </strong></span><span>{{ declaracion.fiel_fecha_firma }}</span>
              </div>
          </td>
          <td style="border: 1px solid #C4C4D0; padding: 0.1cm;" width="40%">
            <p style="text-align:justify;">En esta fecha de conformidad con lo dispuesto en los artículos 32 y 34 de la Ley de responsabilidades Administrativas de la Ciudad de México, mediante el cual se determina el uso de medios electrónicos se recibe su declaración patrimonial a través de internet</p>
            <p style="text-align:center;margin:0px;"><strong>FECHA DE TRANSMISIÓN</strong></p>
            <p style="text-align:center;margin:0px;"><strong>{{ declaracion.fiel_fecha_firma|date:"d/m/Y" }}</strong></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
  <div id="footer">
  <img src="{% static 'src/img/footer-cdmx.png' %}" width="100%" height="100%"alt="Gobierno de la Ciudad de México">
  </div>
</footer>
{% endblock %}
