{% extends "easy_pdf/base.html" %}

{% load static %}
{% load secciones %}
{% load qr_code %}

{% block extra_style %}
    <style type="text/css">
        @page {
            size: letter;
            margin-left: 1.4cm;
            margin-right: 1.4cm;
            margin-top: .9cm;
            margin-bottom: 1.4cm;

            @frame footer {
                -pdf-frame-content: page-footer;
                bottom: 0cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;
            }
        }
        .navbar-brand {
            width: 200px
        }
        dl dt{
          text-transform: uppercase !important;
        }
        .p_opciones dd, .p_opciones dt {
            display: inline !important;
        }
        .text-black_opciones {
            font-weight: 700;
            color: #000;
        }
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{% block page_header %}
    <table>
        <tr>
            <td width="50%">
                <div class="logo">
                    <a class="navbar-brand text-align:">
                    <img src="{% static 'src/img/logo-cdmx.png' %}" width="300px" alt="Gobierno de la Ciudad de México">
                    </a>
                </div>
            </td>
            <td width="50%" style="height:60px;text-align:right;">
                {% es_completa folio_declaracion as es_completa %}
                {% if is_qr %}
                    {% qr_from_text url_site size="4" image_format="png" error_correction="L" %}  
                {% endif %} 
            </td>
        </tr>
    </table>
{% endblock %}

{% block content %}
    {% es_completa folio_declaracion as es_completa %}
    <div class="page-container">
      <div class="container-fluid h-100">
        <div class="row h-100">
        {% if is_qr == False %}
          <div style="color: rgba(52, 166, 214, 0.4);"><h1>Nota importante: Este documento no tienen ninguna validez oficial.</h1></div>
        {% endif %}
          <div class="col-md-9 py-4 printable">
            <h1>Declaración de Situación Patrimonial y de Intereses de los Servidores Públicos de la Ciudad de México.</h1>
            <h1>Fecha de declaración: {{ declaracion.fecha_declaracion|default_if_none:"" }}, Fecha de recepción: {{ declaracion.fiel_fecha_firma|default_if_none:"---"}}</h1>
            <h1>{{ declaracion.cat_tipos_declaracion|default_if_none:"---"}} - {{ declaracion.cat_estatus|default_if_none:"---"}}</h1>
            <h1 class="text-uppercase text-lg mb-25">1. Información general</h1>
            {% include "declaracion/admin/frm_informacion_personal.html" with declaracion=declaracion %}
            {% include 'declaracion/admin/frm_ingresos.html' %}
            {% include 'declaracion/admin/frm_activos.html' %}
            {% if es_completa %}
              <h1 class="text-uppercase text-lg mb-25">2. Intereses</h1>
              {% include 'declaracion/admin/frm_intereses.html' with declaracion=declaracion %}
              {% if declaracion.cat_tipos_declaracion.codigo == 'MODIFICACION' %}
                <h1 class="text-uppercase text-lg mb-25">3. Fiscal</h1>
                {% include 'declaracion/admin/frm_fiscal.html' with declaracion_fiscal=declaracion_fiscal %}
              {% endif %}
            {% endif %}
            {% if is_qr %}
                  {% qr_from_text url_site size="4" image_format="png" error_correction="L" %}
                {% comment %} {% qr_for_contact contact_detail size="2" image_format="png" error_correction="L" %} {% endcomment %}
            {% endif %}
            <p><br><br><br><br></p>
            {% if declaracion.fiel_firma %}
              <h6 class="h6 text-uppercase">Sello digital</h6>
              <p>{{ declaracion.fiel_firma }}</p>
            {% else %}
              <p>Recuerda que para finalizar tienes que ingresar tu firma electrónica (FIEL)</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block page_foot %}
<h1> &nbsp;&nbsp;&nbsp; Pag. <pdf:pagenumber >&nbsp;&nbsp; {% if is_qr == False %} <strong style="color: rgba(52, 166, 214, 0.4);text-align:right;float:right;">Nota importante: Este documento no tienen ninguna validez oficial.</strong> {% endif %} </h1>
{% endblock %}