{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Apoyos o beneficios públicos</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">II. DECLARACIÓN DE INTERESES <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 mb-3 text-uppercase">3. APOYOS O BENEFICIOS PÚBLICOS <span class="text-black mx-1"></span><span class="text-primary">(HASTA LOS 2 ÚLTIMOS AÑOS)</span></h2>
         <p class="text-primary">
          Es la contribución monetaria o en especie que otorga un Ente Público al Declarante, cónyuge o Pareja y/o dependiente económico.
        </p>
        <div class="text-blue">
            En caso de que hayas autorizado cargar tu información, es muy IMPORTANTE ingresar a cada uno de los apartados de la declaración patrimonial para verificar que tus datos estén completos y correctos de lo contrario es necesario que los actualices
        </div>
        {% if messages %}
          {% for message in messages %}
            <br>
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:apoyos-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:apoyos-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
             {% comment %} href="{% url 'declaracion:apoyos-agregar' folio_declaracion %}"  {% endcomment %}
          <a href="javascript:alta('declaracion:apoyos-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
            Agregar Apoyo o beneficio público
            <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
          </a>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="NOMBRE DEL PROGRAMA" titulo_dos="INSTITUCIÓN QUE OTORGA" titulo_tres="TIPO DE APOYO" agregar=agregar editar_id=editar_id %}
          <form action="{% url 'declaracion:apoyos' folio_declaracion %}" method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form style="display: none;" action="{% url 'declaracion:apoyos' folio_declaracion %}" method="post" novalidate>
        {% endif %}
          {% csrf_token %}
            <div class="row">
              {% include 'layout/no_aplica.html' %}
            </div>
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="NOMBRE DEL PROGRAMA" titulo_dos="INSTITUCIÓN QUE OTORGA" titulo_tres="TIPO DE APOYO" agregar=agregar editar_id=editar_id %}
            <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-8">
                    <label class="label-secondary">BENEFICIARIO DE ALGÚN PROGRAMA PÚBLICO<span class="text-danger text-lg font-weight-bold">*</span> </label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Que reciben el apoyo o beneficio público.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field apoyos_form.TipoBeneficiario show_label=False %}
                  </div>
                  <div class="col-md-4" id="otro-{{ apoyos_form.TipoBeneficiario.html_name }}">
                    <label class="label-secondary">OTRO TIPO DE BENEFICIARIO</label>
                    {% bootstrap_field apoyos_form.otro_TipoBeneficiario show_label=False %}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="nombre-programa" class="label-secondary">NOMBRE DEL PROGRAMA<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Programa por que recibe el apoyo.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field apoyos_form.nombre_programa show_label=False placeholder="Nombre del programa" field_class='solo_letras' %}
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="institucion-apoyo" class="text-muted text-sm mb-0">INSTITUCIÓN QUE OTORGA EL APOYO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Institución que brinda el apoyo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field apoyos_form.institucion_otorgante  show_label=False placeholder="Institución que otorga el apoyo"  field_class='solo_letras'%}
                </div>
              </div>
              <div class="col-md-12">
                <label for="nivel-gobierno" class="text-muted text-sm mb-0">NIVEL U ORDEN DE GOBIERNO<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Federal/Estatal/Municipal.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% include 'layout/radiobuttons.html' with field_select=apoyos_form.fields.cat_ordenes_gobierno  field_name=apoyos_form.cat_ordenes_gobierno  otro_name=apoyos_form.otro_orden_gobierno%}
              </div>
              <div class="col-md-8">
                <label for="tipo-apoyo" class="text-muted text-sm mb-0">TIPO DE APOYO<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Para mayor información consultar el manual.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% include 'layout/radiobuttons.html' with field_select=apoyos_form.fields.cat_tipos_apoyos  field_name=apoyos_form.cat_tipos_apoyos otro_name=apoyos_form.otro_tipo_apoyo col=2 col_o=6 %}
              </div>
              <div class="col-12 my-2">
                <label class="label-secondary">FORMA DE RECEPCIÓN DEL APOYO<span class="text-danger text-lg font-weight-bold">*</span> </label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar la forma de recepción">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% include 'layout/radiobuttons.html' with field_select=apoyos_form.fields.recepcion_beneficio  field_name=apoyos_form.recepcion_beneficio  col=4 col_o=4 %}
              </div>
              <div class="col-md-4" id="monto-men">
                <label for="valor-anual-apoyo" class="text-muted text-sm mb-0">MONTO APROXIMADO DEL APOYO MENSUAL<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Capturar sin comas, sin puntos, sin centavos y sin ceros a la izquierda.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field apoyos_form.valor_anual show_label=False placeholder="Valor anual del apoyo" %}
              </div>
              <div class="col-md-8" id="especificar-apoyo">
                <div class="form-group">
                  <label for="institucion-apoyo" class="text-muted text-sm mb-0">ESPECIFIQUE EL APOYO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Especifique el apoyo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field apoyos_form.otro_apoyo  show_label=False placeholder="Especifique el Apoyo" %}
                </div>
              </div>
              <div class="col-md-12">
                {% include 'elementos/label.html' with text_label="ACLARACIONES/OBSERVACIONES" apply=False title_button="Aclaraciones y Observaciones." is_required=False %}
                {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
                <div class="text-right">
                  <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
                    Guardar y agregar otro apoyo o beneficio público<img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
                  </button>
                </div>
              </div>
            </div>
            {% include 'layout/guardar.html' %}
          </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script type="text/javascript"> 
$(document).ready(function() {
  if(document.getElementById("id_apoyos-otro_tipo_apoyo")){
    if(document.getElementById("id_apoyos-otro_tipo_apoyo").value=="NA"){
      document.getElementById("id_apoyos-otro_tipo_apoyo").value=""
      document.getElementById("id_apoyos-otro_tipo_apoyo").style.display = "none"
    }  
  }
  let $monetario = document.getElementById("id_apoyos-recepcion_beneficio-1");
  let $especie = document.getElementById("id_apoyos-recepcion_beneficio-2");
  let $monto = document.getElementById("monto-men"); 
  let $epecificar = document.getElementById("especificar-apoyo");

  function desaparece(value){
        value.value = "NA"
        value.style.display = "none"
  }
  if(document.getElementById("id_apoyos-cat_tipos_apoyos-3")){
    $subsidio = document.getElementById("id_apoyos-cat_tipos_apoyos-1")
    $servicio = document.getElementById("id_apoyos-cat_tipos_apoyos-2")
    $obra = document.getElementById("id_apoyos-cat_tipos_apoyos-3")
    $otro = document.getElementById("id_apoyos-cat_tipos_apoyos-4")
    $otro_text = document.getElementById("id_apoyos-otro_tipo_apoyo")
    $subsidio.addEventListener("click", function(){ 
      desaparece($otro_text)
    });
    $servicio.addEventListener("click", function(){ 
      desaparece($otro_text)
    });
    $obra.addEventListener("click", function(){ 
      desaparece($otro_text)
    });
    $otro.addEventListener("click", function(){ 
      $otro_text.style.display = "block"
      $otro_text.value = ""
    });
    if($monetario.checked){
      $monto.style.display = "block";
      $epecificar.style.display = "none";
    }else{
        $monto.style.display = "none";
        $epecificar.style.display = "block";
    }
    $especie.addEventListener("click", function(){
        $monto.style.display = "none";
        $epecificar.style.display = "block";
    });
    $monetario.addEventListener("click", function(){
        $monto.style.display = "block";
        $epecificar.style.display = "none";
    });
  }
 });
</script>
{% endblock %}