{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html'%}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">¿Participa en alguna de estas Instituciones?</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">II. DECLARACIÓN DE INTERESES <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 mb-0 text-uppercase">2. ¿PARTICIPA EN LA TOMA DE DECISIONES DE ALGUNA DE ESTAS INSTITUCIONES?
          <span class="text-black mx-1">
            <span class="text-primary">(HASTA LOS 2 ÚLTIMOS AÑOS)</span>
          </span>
        </h2>
        <span class="text-primary">
            Refiere a la condición de pertenencia formal del Declarante a alguna institución y que cuente con poder de decisión en ella.
        </span>
        <div class="text-blue">
            En caso de que hayas autorizado cargar tu información, es muy IMPORTANTE ingresar a cada uno de los apartados de la declaración patrimonial para verificar que tus datos estén completos y correctos de lo contrario es necesario que los actualices
        </div>
        <p class="text-sm mb-0 font-italic text-muted font-weight-extralight">TODOS LOS DATOS DE LA PARTICIPACIÓN EN ALGUNA DE ESTAS INSTITUCIONES DE LA PAREJA O DEPENDIENTES ECONÓMICOS NO SERÁN PÚBLICOS</p>
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:membresias-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:membresias-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
        {% comment %} href="{% url 'declaracion:membresias-agregar' folio_declaracion %}" {% endcomment %}
          <a href="javascript:alta('declaracion:membresias-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
            Agregar membresía
            <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
          </a>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Nombre de la institución" titulo_dos="Tipo de institución" titulo_tres="Fecha de inicio" agregar=agregar editar_id=editar_id %}
          <form action="{% url 'declaracion:membresias' folio_declaracion %}" method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form style="display: none;" action="{% url 'declaracion:membresias' folio_declaracion %}" method="post" novalidate>
        {% endif %}
          {% csrf_token %}
            <div class="row">
              {% include 'layout/no_aplica.html' %}
            </div>
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Nombre de la institución" titulo_dos="Tipo de institución" titulo_tres="Fecha de inicio" agregar=agregar editar_id=editar_id %}
            <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                      <label for="" class="label-secondary">TIPO DE PERSONA<span class="text-danger text-lg font-weight-bold">*</span></label>
                      <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Tipo de persona.">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                      </button>
                      {% bootstrap_field membresia_form.tipo_persona show_label=False %}
                    </div>
                </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="nombre-menbresia" class="label-secondary">TIPO DE INSTITUCIÓN<span class="text-danger text-lg font-weight-bold">*</span> </label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  tabindex="9999" title="Seleccione la naturaleza jurídica de la  institución.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                </div>
              </div>
              <div class="col-md-12">
                {% include 'layout/radiobuttons.html' with field_select=membresia_form.fields.cat_tipos_instituciones  field_name=membresia_form.cat_tipos_instituciones otro_name=membresia_form.otras_instituciones col=2 col_o=4 %}
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nombre-institucion" class="label-secondary">NOMBRE DE LA INSTITUCIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  tabindex="9999" title="Tal y como se encuentra registrada formalmente.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field membresia_form.nombre_institucion show_label=False placeholder="Nombre de la institución" %}
                </div>
              </div>
              <div class="col-md-4">
                <label class="label-secondary">RFC<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar los 12 dígitos del registro.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field membresia_form.rfc field_class='valida_rfc_moral' show_label=False placeholder="RFC CON HOMOCLAVE"  %}
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="puesto-rol" class="label-secondary">PUESTO/ROL<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  tabindex="9999" title="Indicar cargo del Declarante.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field membresia_form.puesto_rol show_label=False placeholder="Puesto/Rol" %}
                </div>
              </div>
              <div class="col-12">
                <label class="label-secondary">FECHA DE INICIO DE PARTICIPACIÓN DENTRO DE LA INSTITUCIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  tabindex="9999" title="Fecha en la que inicio funciones en la institución u organización.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row col-md-6 mt-1">
                  {% bootstrap_field membresia_form.fecha_inicio show_label=False placeholder="Fecha de inicio" %}
                </div>
              </div>
              <div class="col-md-8">
                <label class="label-secondary">¿RECIBE REMUNERACIÓN POR SU PARTICIPACIÓN?<span class="text-danger text-lg font-weight-bold">*</span> </label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar si/no.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col">
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input {% if not membresia_form.renumeracion.initial %}checked{% endif %}  {% if membresia_form.renumeracion.initial == True %}checked{% endif %} type="radio" id="membresia_form-renumeracion-si" name="membresia-renumeracion" value="true" class="custom-control-input">
                      <label class="custom-control-label text-rg" for="membresia_form-renumeracion-si">Sí</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input {% if membresia_form.renumeracion.initial == False %}checked{% endif %} type="radio" id="membresia_form-renumeracion-no" name="membresia-renumeracion" value="false" class="custom-control-input">
                      <label class="custom-control-label text-rg" for="membresia_form-renumeracion-no">No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" id="remuneracionMonto">
                <div class="form-group membresia-monto-neto">
                  <label class="label-secondary">MONTO MENSUAL NETO<span class="text-danger text-lg font-weight-bold">*</span> </label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Sin centavos">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field membresia_form.monto show_label=False placeholder="Monto" %}
                </div>
              </div>
              <div class="col-12">
                <label class="label-secondary ">LUGAR DONDE SE UBICA<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="País de registro.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% include 'layout/nacionalidad.html' with field=membresia_form.cat_paises otro_field=membresia_form.ubicacion pais=True %}
              </div>
              <div class="col-md-4 mt-2" id="id_{{ membresia_form.cat_paises.html_name }}_container_estado">
                <div class="">
                  <label class="label-secondary">ENTIDAD FEDERATIVA<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Entidad federativa del registro.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {%bootstrap_field membresia_form.cat_entidades_federativas show_label=False %}
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="observaciones" class="label-secondary">ACLARACIONES/OBSERVACIONES</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  tabindex="9999" title="Detallar información de la Membresía.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field observaciones_form.observacion placeholder="Aclaraciones y Observaciones" show_label=False %}
                </div>
              </div>
            </div>
            <div class="row mt-6 row-form justify-content-center" style="{% if checked %}display: none;{% endif %}">
              <div class="col-12 text-right">
                <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
                  Guardar y agregar otra membresía
                  <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
                </button>
              </div>
            </div>
            {% include 'layout/guardar.html' %}
          </form>
      </div>
    </div>
  </div>
{% endblock %}
