{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html'%}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Representación</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">II. DECLARACIÓN DE INTERESES <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 mb-3 text-uppercase">4. REPRESENTACIÓN <span class="text-black mx-1"></span><span class="text-primary">(HASTA LOS 2 ÚLTIMOS AÑOS)</span></h2>
        <p class="text-primary">
          Es cuando el Declarante actúa a nombre de otra persona física o moral (representante) o cuando una persona actúa a nombre del Declarante (representado).
        </p>
        <div class="text-blue">
            En caso de que hayas autorizado cargar tu información, es muy IMPORTANTE ingresar a cada uno de los apartados de la declaración patrimonial para verificar que tus datos estén completos y correctos de lo contrario es necesario que los actualices
        </div>
        <p class="text-sm font-italic text-muted font-weight-extralight">TODOS LOS DATOS DE REPRESENTACIÓN DE LA PAREJA O DEPENDIENTES ECONÓMICOS NO SERÁN PÚBLICOS</p>
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:representacion-activa-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:representacion-activa-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
        {% comment %} href="{% url 'declaracion:representacion-activa-agregar' folio_declaracion %}"  {% endcomment %}
          <a href="javascript:alta('declaracion:representacion-activa-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
            Agregar representación
            <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
          </a>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE REPRESENTACIÓN" titulo_dos="SECTOR/INDUSTRIA" titulo_tres="NOMBRE O RAZÓN SOCIAL DEL REPRESENTADO" agregar=agregar editar_id=editar_id %}
          <form action="{% url 'declaracion:representacion-activa' folio_declaracion %}" method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form style="display: none;" action="{% url 'declaracion:representacion-activa' folio_declaracion %}" method="post" novalidate>
        {% endif %}
            {% csrf_token %}
            <div class="row">
              {% include 'layout/no_aplica.html' %}
            </div>
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE REPRESENTACIÓN" titulo_dos="SECTOR/INDUSTRIA" titulo_tres="¿RECIBE REMUNERACIÓN POR SU REPRESENTACIÓN?" agregar=agregar editar_id=editar_id %}
            <div class="row-form" style="{% if checked %}display: none;{% endif %}">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="" class="label-secondary">TIPO DE REPRESENTACIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Tipo de representación.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% include 'layout/radiobuttons.html' with field_select=representaciones_activas_form.fields.cat_tipos_representaciones field_name=representaciones_activas_form.cat_tipos_representaciones otro_name=representaciones_activas_form.otra_representacion col=3 col_o=6 %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="tipo_persona_content">
                  <div class="form-group">
                    <label for="" class="label-secondary">TIPO DE PERSONA<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="¿Quién tiene la representación?">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field representaciones_activas_form.tipo_persona show_label=False %}
                  </div>
                </div>
              </div>
              <div class="row" id="representado_container">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="dependientes">
                  <div class="form-group">
                    <label for="" class="label-secondary">DEPENDIENTE ECONÓMICO<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Dependiente económico.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field representaciones_activas_form.dependiente_economico_choice show_label=False %}
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="pareja">
                  <div class="form-group">
                    <label for="" class="label-secondary">PAREJA<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Pareja.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field representaciones_activas_form.pareja_choice show_label=False %}
                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                  <div class="form-group" id="id_{{ info_personal_var_form.fecha_nacimiento.html_name }}-fisica-moral">
                    <label class="label-secondary">FECHA DE INICIO DE LA REPRESENTACIÓN </label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Fecha en que comenzó la representación.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field representaciones_activas_form.fecha_inicio show_label=False %}
                  </div>
                </div>
              </div>

              <div id="representante_container">
                <div class="form-group">
                  <label class="label-secondary">IDENTIFICACIÓN DE LA PARTE REPRESENTANTE/REPRESENTADO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Tipo de persona de la parte representante">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <div class="row">
                    <div class="col-1">
                      <div class="custom-control custom-radio custom-control-inline radio-secondary tipo_persona">
                        <input
                          {% if not info_personal_var_form.es_fisica.initial %} checked {% endif %}
                          {% if info_personal_var_form.es_fisica.initial == True %} checked {% endif %}
                          type="radio"
                          id="id-{{info_personal_var_form.es_fisica.html_name}}-f"
                          value="true"
                          name="{{ info_personal_var_form.es_fisica.html_name }}"
                          class="custom-control-input pfisica"
                          onchange="dui.radioTPersona(this.value,'{{ info_personal_var_form.es_fisica.html_name }}')">
                        <label class="custom-control-label text-rg" style="font-size:16px; line-height: 120%;" for="id-{{info_personal_var_form.es_fisica.html_name}}-f">Física</label>
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="custom-control custom-radio custom-control-inline radio-secondary tipo_persona">
                        <input
                          {% if info_personal_var_form.es_fisica.initial == False %} checked {% endif %}
                          type="radio"
                          id="id-{{ info_personal_var_form.es_fisica.html_name }}-m"
                          value="false"
                          name="{{ info_personal_var_form.es_fisica.html_name }}"
                          class="custom-control-input pmoral"
                          onchange="dui.radioTPersona(this.value,'{{ info_personal_var_form.es_fisica.html_name }}')">
                        <label class="custom-control-label text-rg" style="font-size:16px; line-height: 120%;" for="id-{{ info_personal_var_form.es_fisica.html_name }}-m">Moral</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div id="id_{{ info_personal_var_form.es_fisica.html_name }}_container_fisica" class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="nombre-representacion" class="label-secondary">Nombre de la parte <span class="representada">representada</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Nombre o Nombres completos sin abreviaturas ni signos especiales.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.nombres show_label=False placeholder="Nombre" field_class="solo_letras" %}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="nombre-representacion" class="label-secondary">Primer apellido de la parte <span class="representada">representada</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Primer apellido completo sin abreviaturas ni signos especiales.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.apellido1 show_label=False placeholder="Primer apellido" field_class="solo_letras" %}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="nombre-representacion" class="label-secondary">Segundo apellido de la parte <span class="representada">representada</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Segundo apellido completo sin abreviaturas ni signos especiales.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.apellido2 show_label=False placeholder="Segundo apellido" field_class="solo_letras" %}
                          </div>
                        </div>
                        {% comment %} <div class="col-md-4">
                          <div class="form-group">
                            <label for="curp-representada" class="label-secondary">CURP de la parte representada <small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Los 18 caracteres de la Clave Unica de Registro de Población.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.curp field_class='valida_curp' show_label=False placeholder="CURP" %}
                          </div>
                        </div> {% endcomment %}
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="rfc-representada" class="label-secondary">RFC de la parte representada <small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Los 10 caracteres básicos y los 3 caracteres de la homoclave. Si es una persona moral son 9 caracteres básicos y los 3 de la homoclave.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.rfc field_class='valida_rfc' show_label=False placeholder="RFC de la parte representada" %}
                          </div>
                        </div>
                      </div>
                      <div id="id_{{ info_personal_var_form.es_fisica.html_name }}_container_moral" class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="nombre2" class="label-secondary">Razón social</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Razón social sin abreviaturas ni signos especiales.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.razon_social show_label=False placeholder="Razón social" %}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="rfc-representada" class="label-secondary">RFC</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Los 10 caracteres básicos y los 3 caracteres de la homoclave. Si es una persona moral son 9 caracteres básicos y los 3 de la homoclave.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.rfc field_class='valida_rfc' show_label=False placeholder="RFC" %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="recibe_remuneracion">
                <div class="col-md-6">
                  <label class="label-secondary">¿RECIBE REMUNERACIÓN POR SU REPRESENTACIÓN?<span class="text-danger text-lg font-weight-bold">*</span> </label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Recibe remuneración o no.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <div class="row col-md-6 mb-3">
                    <div class="col-md-6">
                      <div class="custom-control custom-radio custom-control-inline radio-secondary">
                        <input type="radio" id="no-pagado" name="representaciones_activas-pagado" class="custom-control-input" value="false" {% if representaciones_activas_form.pagado.initial == 0 %} checked {% endif %}><label class="custom-control-label text-rg" for="no-pagado">NO</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="custom-control custom-radio custom-control-inline radio-secondary d-flex align-items-center">
                        <input type="radio" id="Pagado" name="representaciones_activas-pagado" class="custom-control-input" value="true" {% if representaciones_activas_form.pagado.initial == 1 %} checked {% endif %}><label class="custom-control-label text-rg" for="Pagado">SI</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="monto_container_servidor">
                <div class="col-md-6">
                <div class="form-group">
                  <span class="label-secondary">MONTO MENSUAL NETO DE SU REPRESENTACIÓN</span>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Sin centavos.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field representaciones_activas_form.monto show_label=False placeholder="Monto" %}
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="label-secondary ">LUGAR DONDE SE UBICA</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="País de registro.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% include 'layout/nacionalidad.html' with otro_field=representaciones_activas_form.ubicacion field=representaciones_activas_form.cat_paises pais=True %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" id="id_{{ representaciones_activas_form.cat_paises.html_name }}_container_estado">
                  <div class="">
                    <label class="label-secondary ">ENTIDAD FEDERATIVA</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Entidad federativa del registro.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field representaciones_activas_form.cat_entidades_federativas show_label=False %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label for="tipo-representacion" class="label-secondary">SECTOR PRODUCTIVO AL QUE PERTENECE<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Seleccionar el sector al que pertenece.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field info_personal_var_form.cat_sectores_industria show_label=False %}
                </div>
                <div class="col-md-4" id="otro-{{ info_personal_var_form.cat_sectores_industria.html_name }}">
                  <label class="label-secondary">OTRO SECTOR</label>
                  {% bootstrap_field info_personal_var_form.otro_sector show_label=False %}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label for="observaciones" class="label-secondary">ACLARACIONES/OBSERVACIONES</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Detallar información de la Representación.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
                </div>
              </div>
            </div>
            <div class="col-12 text-right row-form" style="{% if checked %}display: none;{% endif %}">
              <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
                Guardar y agregar otra representación
                <img src="/static/src/img/plus.svg" alt="agregar" class="svg">
              </button>
            </div>
            {% include 'layout/guardar.html' %}
            <div class="row">
              <div class="col-12"><br /></div>
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  // Controlar la etiqueta representante
  const representante = document.getElementById('id_representaciones_activas-cat_tipos_representaciones-1');
  const representada = document.getElementById('id_representaciones_activas-cat_tipos_representaciones-2');
  const representante_container = document.getElementById('representante_container');
  const representado_container = document.getElementById('representado_container');
  let recibe_remuneracion = document.getElementById("recibe_remuneracion");
  let monto_servidor = document.getElementById("monto_container_servidor");

  if(representada.checked){
    recibe_remuneracion.style.display = "none";
    monto_servidor.style.display = "none";
  }else{
    recibe_remuneracion.style.display = "block";
    monto_servidor.style.display = "block";
  }

  representante.addEventListener('change', () => {
    // Si eligen representante
    // representante_container.style.display = 'inherit';
    representado_container.style.display = 'inherit';
    recibe_remuneracion.style.display = "block";
    monto_servidor.style.display = "block";
  });

  representada.addEventListener('change', () => {
    // Si eligen representado
    //representante_container.style.display = 'none';
    representado_container.style.display = 'inherit';
    recibe_remuneracion.style.display = "none";
    monto_servidor.style.display = "none";
  });

  // Flujo de la sección "Representaciones"
  const tipoPersona = document.querySelector('#tipo_persona_content select');
  const dependientes = document.getElementById('dependientes');
  const pareja = document.getElementById('pareja');

  function tipoPersonaHandle(ev) {
      const target = ev.target || ev;
      const value = target.value;

      switch (value) {
          case 'DECO': // Dependiente económico
              pareja.style.display = 'none';
              dependientes.style.display = 'inherit';
              break;
          case 'PA': // Pareja
              dependientes.style.display = 'none';
              pareja.style.display = 'inherit';
              break;
          case 'DE':
              pareja.style.display = 'none';
              dependientes.style.display = 'none';
              break;
          default:
              break;
      }
  }

  tipoPersonaHandle(tipoPersona);
  tipoPersona.addEventListener('change', tipoPersonaHandle);

</script>
{% endblock %}
