{% load static %}
<div class="{{ class_content }}">
  <label for="{{ for_label }}" class="label-secondary mb-2">{{ text_label }}
    <small class="text-help text-primary">{% if apply %}(si aplica){% elif only_number %}(SOLO NÚMEROS){% elif legend %}(En caso de no tener poner X){% elif small_text %}{{ small_text }}{% endif %}</small>
    {% if is_required %}
      <span class="text-danger text-lg font-weight-bold">*</span>
    {% endif %}
    {% if title_button %}
      <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="{{ title_button }}">
        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
      </button>
    {% endif %}
  </label>
  {% if text_small %}
    <span class="text-sm font-weight-light text-primary mb-2">{{ text_small }}</span>
  {% endif %}
</div>