{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}

<div class="col-md-12">
  {% include 'elementos/label.html' with text_label="ACLARACIONES/OBSERVACIONES" apply=False title_button="Aclaraciones y Observaciones." is_required=False %}
  {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
  {% if save_add %}
    <div class="text-right">
      {# No permite agregar a más de dos parejas #}
      {% if informacion_registrada.count < 1 %}
        <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
          Guardar y agregar otro dato de pareja <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
        </button>
      {% else %}
        <button type="submit" name="accion" value="guardar" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
          Guardar dato de pareja <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
        </button>
      {% endif %}
    </div>
  {% endif %}
</div>
