{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            {% include 'layout/sidebar.html' %}
            <div class="col-md-9">
                <h1 class="text-primary">Firma tu declaración</h1>
                <p class="mt-2 text-primary-light text-md">
                    Bajo protesta de decir verdad, presento a usted mi declaración de situación patrimonial y de interés, conforme a lo dispuesto en la Ley General de de Responsabilidades Administrativas, Ley General del Sistema Estatal Anticorrupción y la normatividad aplicable
                </p>
                {% if request.GET.fiel == 'true' %}
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="fiel" value="true">
                        <label for="{{ form.key.id_for_label }}">{{ form.key.label }}</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="{{ form.key.id_for_label }}" name="{{ form.key.name }}" required accept=".key">
                                <label class="custom-file-label" for="{{ form.key.id_for_label }}"> {{ form.key.label }}</label>
                            </div>
                        </div>
                        <label for="{{ form.cer.id_for_label }}">{{ form.cer.label }}</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="{{ form.cer.id_for_label }}" name="{{ form.cer.name }}"  required accept=".cer">
                                <label class="custom-file-label" for="{{ form.cer.id_for_label }}"> {{ form.cer.label }}</label>
                            </div>
                        </div>
                        {% bootstrap_field form.password %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" id="sign">
                              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                              Firmar
                            </button>
                        {% endbuttons %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                {% elif request.GET.fiel == 'false' %}
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <h3>Inicia sesión con tu usuario y contraseña de tu llave de acceso de la ciudad</h3>
                        <input type="hidden" name="fiel" value="false">
                        <label for="email">Correo electrónico o teléfono celular<span class="text-danger text-lg font-weight-bold">*</span></label>
                        {% bootstrap_field form.email show_label=False placeholder="Usuario" %}
                        <label for="password">Contraseña<span class="text-danger text-lg font-weight-bold">*</span></label>
                        {% bootstrap_field form.password show_label=False %}
                        <button type="submit" class="btn btn-primary" id="sign">
                          <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                          Firmar
                        </button>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                    <a href="#ventana-modal" class="text-primary-light text-md font-weight-semibold d-inline-block mb-2" data-toggle="modal" data-target="#ventana-modal">¿Olvidaste tu contraseña?</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not request.GET.fiel %}
        <div class="modal fade" id="modal-aviso-declaracion-activa" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                <div class="modal-body text-center">
                    <p class="text-lg w-75 mb-5 mx-auto">¿DESEAS USAR TU FIEL PARA CONCLUIR CON TU DECLARACIÓN?</p>
                    <a href="{{ request.path }}?fiel=true" class="btn btn-success-lighter font-weight-bold">SÍ, USAR MI FIEL</a>
                    <a href="{{ request.path }}?fiel=false" class="btn btn-warning font-weight-bold my-3 text-white">NO, FIRMAR CON MI USUARIO Y CONTRASEÑA</a>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Ventana modal para recuperar la contraseña con RFC como Homoclave  -->
  <div class="modal fade" id="ventana-modal" tabindex="-1" role="dialog" aria-labelledby="lost-password-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
            <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
          </button>
          <h3 class="modal-title mt-5 mb-3 text-lg text-uppercase font-weight-normal" id="lost-password-label">Para recuperar tu contraseña escribe tu <span class="text-black">RFC CON HOMOCLAVE</span> por favor</h3>
          <form action="{% url 'password_reset' %}" method="post" id="form_reset" class="mb-2">
            {% csrf_token %}
            <div class="form-group valida_rfc " id="rec-rfc">
              <input type="text" class="form-control bg-transparent" id="id_rfc_rs" name="rfc" style="text-transform: uppercase;" placeholder="RFC CON HOMOCLAVE" required autofocus>
            </div>
            <p class="text-success-lighter text-md">Si desconoces tu RFC o necesitas cambiarlo ponte en contacto con el enlace de tu ente público.</p>
            <div class="text-right">
              <button type="submit" class="btn btn-primary font-weight-semibold">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Ventana modal despues de que el usuario ya escribio el RFC como homoclave  -->
  <div class="modal fade" id="modal-recuperar-contrasena" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
            <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
          </button>
          <h3 class="text-primary text-lg text-uppercase mt-7 mb-3">¡Muchas gracias!</h3>
          <p class="text-lg w-75 mb-7 mx-auto">Hemos enviado a tu correo las instrucciones para reestablecer la contraseña.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
