{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html'%}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Préstamo o comodato por terceros</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 text-uppercase mb-0">
          {% tipo_declaracion_code as tipo %}
          {% if tipo == 'MODIFICACION' %}
            14. PRÉSTAMO O COMODATO POR TERCEROS
          {% else %}
            15. PRÉSTAMO O COMODATO POR TERCEROS
          {% endif %}
          <span class="text-primary">
            {% tipo_declaracion as tipo %}
            {% if tipo == "Declaración inicial" %}
            {% elif tipo == 'Declaración de modificación patrimonial' %}
            {% elif tipo == 'Declaración de conclusión' %}
            {% elif tipo == 'Declaración de actualización' %}
            (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
            {% else %}
            {% endif %}
          </span>
        </h2>
        <p class="text-primary">
          {% help_text_inicial 'Reportar la situación de préstamo o comodato por terceros a la fecha de ingreso al empleo, cargo o comisión.' %}
          {% help_text_modificacion 'Reportar la situación de préstamo o comodato por terceros del año inmediato anterior.' %}
          {% help_text_conclusion 'Reportar la situación de préstamo o comodato por terceros a la fecha de conclusión del empleo, cargo o comisión.' %}
        </p>
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos prestamos o comodatos por terceros que hayas adquirido en el mes inmediato.</li>
            </ul>
          </div>
        {% elif tipo == 'CONCLUSION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos prestamos o comodatos por terceros que hayas adquirido entre el 01 de enero y 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% elif tipo == 'MODIFICACION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos prestamos o comodatos por terceros que hayas adquirido entre el 01 de enero y 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% endif %}
        <p class="text-muted text-sm mb-3 mt-3">Indicar si existe algún bien (inmueble, vehículo) prestado por un tercero y que el declarante use</p>
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:beneficios-especie-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:beneficios-especie-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
          {% comment %} href="{% url 'declaracion:beneficios-especie-agregar' folio_declaracion %}" {% endcomment %}
          <a href="javascript:alta('declaracion:beneficios-especie-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
            Agregar préstamo o comodato por tercero
            <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
          </a>
          <form action="{% url 'declaracion:beneficios-especie' folio_declaracion %}" method="post"   novalidate>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE BIEN" titulo_dos="TIPO DE VEHÍCULO" titulo_tres="RELACIÓN ANTERIOR" agregar=agregar editar_id=editar_id %}
            {% csrf_token %}
            {% if informacion_registrada %}
              <div class="w-100" id="buttonDeleteAllDataList">
                <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
              </div>
            {% endif %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form style="display: none;" action="{% url 'declaracion:beneficios-especie' folio_declaracion %}" method="post" novalidate>
        {% endif %}
          {% csrf_token %}
          <div class="row">
            {% include 'layout/no_aplica.html' %}
          </div>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE BIEN" titulo_dos="TIPO DE VEHÍCULO" titulo_tres="RELACIÓN ANTERIOR" agregar=agregar editar_id=editar_id %}
          {% if informacion_registrada %}
            <div class="w-100" id="buttonDeleteAllDataList">
              <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
            </div>
          {% endif %}
          <div class="row-form" style="{% if checked %}display: none;{% endif %}">
            <div class="row">
              <div class="col-md-6">
                <label class="label-secondary">TIPO DE PRÉSTAMO O COMODATO<span class="text-danger text-lg font-weight-bold">*</span></label>
                {% bootstrap_field form.tipo_especie show_label=False %}
              </div>
            </div>
            <div id="inmuebleId">
              <div class="row">
                <div class="col-md-12">
                  <h6>BIENES INMUEBLES</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="label-secondary">TIPO DE BIEN<span class="text-danger text-lg font-weight-bold">*</span>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Indicar la forma de adquisición del bien mueble.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {% bootstrap_field form.tipo_bien_servicio show_label=False %}
                </div>
                <div class="col-md-3">
                  {% bootstrap_field form.otro_tipo_bien_servicio show_label=False %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="label-secondary">UBICACIÓN DEL INMUEBLE<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Indicar la nacionalidad.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% include 'declaracion/direccion_completa.html' with form=domicilio_form interior_apply=True nombre_via=True exterior=True entidad=True %}
                </div>
              </div>
            </div>
            {% comment %} <div class="row">
              <div class="col-md-4">
                <label class="label-secondary">¿DONDE SE ENCUENTRA REGISTRADO?</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="País de registro.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
              </div>
            </div>
            {% include 'layout/nacionalidad.html' with field=form.cat_paises otro_field=form.ubicacion pais=True addClass="mt-3" %}
            <div class="row">
              <div class="col-md-4" id="id_{{ form.cat_paises.html_name }}_container_estado" style="display:none">
                <label class="label-secondary ">Entidad Federativa<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Entidad federativa del registro.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field form.cat_entidades_federativas show_label=False %}
              </div>
            </div> {% endcomment %}
            <div id="vehiculoId">
              <div class="row">
                <div class="col-md-12">
                  <h6>VEHÍCULOS</h6>
                </div>
              </div>
              <div class="row">
                <label class="col-md-12">TIPO DE VEHÍCULO<span class="text-danger text-lg font-weight-bold">*</span>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Indicar la forma de adquisición del vehículo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {% bootstrap_field form.tipo_vehiculo show_label=False %}
                </div>
                <div class="col-md-3">
                  {% bootstrap_field form.otro_tipo_vehiculo show_label=False placeholder="Otro tipo vehículo" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="label-secondary mb-2">MARCA<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Marca del bien mueble declarado.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field form.marca show_label=False%}
                  {% bootstrap_field form.otro_marca show_label=False%}
                </div>
                <div class="col-md-4">
                  <label class="label-secondary mb-2">MODELO</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Tipo del bien mueble que se declara.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <span class="text-danger text-lg font-weight-bold">*</span>
                  {% bootstrap_field form.submarca show_label=False%}
                  {% bootstrap_field form.otro_submarca show_label=False %}
                </div>
                <div class="col-md-4">
                  <label class="label-secondary mb-2">AÑO</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Indicar año del modelo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <small class="text-help text-primary">AÑO <span class="text-danger text-lg font-weight-bold">*</span></small>
                  {% bootstrap_field form.modelo show_label=False%}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="label-secondary mb-2">NÚMERO DE SERIE O REGISTRO</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Número de serie del bien mueble.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <small class="text-help text-primary">(Si aplica)<span class="text-danger text-lg font-weight-bold">*</span></small>
                  {% bootstrap_field form.num_serie show_label=False field_class="solo_numeros" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="label-secondary ">¿ DONDE SE ENCUENTRA REGISTRADO ?</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="País de registro.">
                  <span class="text-danger text-lg font-weight-bold">*</span>
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% include 'layout/nacionalidad.html' with field=form.cat_paises otro_field=form.ubicacion pais=True %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" id="id_{{ form.cat_paises.html_name }}_container_estado" style="display:none;">
                <div class="row">
                  <div class="col-md-6">
                    <label class="label-secondary ">Entidad Federativa<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Entidad federativa del registro.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {%bootstrap_field form.cat_entidades_federativas show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {% include 'layout/persona.html' with curp_disable=True form=info_personal_var_form title="DUEÑO O TITULAR" label=" del dueño o titular" tipo=True curp=True nombre=True apellido1=True apellido2=False %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tercero-rfc" class="label-secondary">RFC de la misma persona <small class="text-help text-primary">(Si aplica)</small><span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" tabindex="9999" title="R.F.C. con homoclave.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field info_personal_var_form.rfc field_class='valida_rfc' show_label=False placeholder="RFC CON HOMOCLAVE" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" id="titular">
                <label class="label-secondary">RELACIÓN CON EL DUEÑO O TITULAR<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" tabindex="9999" title="Indicar tipo de relación con el beneficiario.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col-md-6">
                    {% bootstrap_field form.cat_tipos_relaciones_personales show_label=False %}
                  </div>
                  <div class="col-md-3">
                    {% bootstrap_field form.otra_relacion show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="tercero-comentarios" class="label-secondary">Aclaraciones y Observaciones</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" tabindex="9999" title="Detallar información respecto al uso o beneficio.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field observaciones_form.observacion placeholder="Aclaraciones y Observaciones" show_label=False%}
                </div>
              </div>
            </div>
          </div>
          <div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
            <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
              Guardar y agregar otro préstamo o comodato <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
            </button>
          </div>
          {% include 'layout/guardar.html' %}
          <div class="row">
            <div class="col-12"><br /></div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/i18n/es.js' %}"></script>
  <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script src="/static/smart-selects/admin/js/bindfields.js"></script>

  {{ domicilio_form.media.js }}
{% endblock %}
