{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Datos curriculares del Declarante</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 text-uppercase mb-2">
          3. DATOS CURRICULARES DEL DECLARANTE
        </h2>
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido en el mes inmediato.</li>
            </ul>
          </div>
        {% elif tipo == 'CONCLUSION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido entre el 01 de enero al 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% elif tipo == 'MODIFICACION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido entre el 01 de enero al 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% endif %}
        <p class="text-primary mt-3">
          Podrá llenar la información relativa a las instituciones educativas hasta los cinco últimos grados de escolaridad, iniciando con la más reciente.
        </p>
        <p class="text-muted text-sm mb-3 mt-3">En caso de contar con información previamente registrada, da clic en (Agregar) y podras visalizar asi como actualizar tu información, al finalizar da clic en (guardar y continuar) para segir con tu declaración</p>
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:datos-curriculares-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:datos-curriculares-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
        {% comment %} href="{% url 'declaracion:datos-curriculares-agregar' folio_declaracion %}" {% endcomment %}
          <a href="javascript:alta('declaracion:datos-curriculares-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
            Agregar grado académico
            <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
          </a>
          <form action="{% url 'declaracion:datos-curriculares' folio_declaracion %}" method="post" novalidate>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Grado acádemico obtenido" titulo_dos="Institución educativa" titulo_tres="Carrera" agregar=agregar editar_id=editar_id %}
            {% csrf_token %}
            {% if informacion_registrada %}
              <div class="w-100" id="buttonDeleteAllDataList">
                <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
              </div>
            {% endif %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form class="areyousure" style="display: none;" action="{% url 'declaracion:datos-curriculares' folio_declaracion %}" method="post" novalidate>
        {% endif %}
            {% csrf_token %}
            <div class="row">
              {% include 'layout/no_aplica.html' %}
            </div>
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Grado acádemico obtenido" titulo_dos="Institución educativa" titulo_tres="Carrera" agregar=agregar editar_id=editar_id %}
            {% if informacion_registrada %}
              <div class="w-100" id="buttonDeleteAllDataList">
                <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
              </div>
            {% endif %}
            {% if datos_curriculares_form.baja.initial %}
              <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <label class="label-secondary">Este curriculum esta dado de baja</label>
                </div>
              <div>
            {% endif %}
            <div class="row row-form" style="{% if checked %}display: none;{% endif %} {% if baja %}display: none;{% endif %}{% if datos_curriculares_form.baja.initial %}display: none;{% endif %}">
              <div class="col-md-6">
                <label for="ente-publico" class="label-secondary">NIVEL<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Nivel máximo de estudios.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field datos_curriculares_form.cat_grados_academicos  show_label=False%}
              </div>
              <div class="col-md-6">
                <label for="ente-publico" class="label-secondary">INSTITUCIÓN EDUCATIVA<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Nombre de la Institución educativa.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field datos_curriculares_form.institucion_educativa  show_label=False placeholder="Institución educativa" %}
              </div>
              <div class="col-md-6">
                <label for="ente-publico" class="label-secondary">CARRERA O ÁREA DE CONOCIMIENTO</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Nombre de la carrera o estudio realizado.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button><small class="text-help text-primary">(si aplica)</small>
                {% bootstrap_field datos_curriculares_form.carrera_o_area show_label=False placeholder="Carrera o área de conocimiento" %}
              </div>
              <div class="col-md-6">
                <label for="ente-publico" class="label-secondary">ESTATUS<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Seleccionar el estatus en el que se encuentran sus estudios.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field datos_curriculares_form.cat_estatus_estudios show_label=False %}
              </div>
              <div class="col-md-6">
                <label for="ente-publico" class="label-secondary">DOCUMENTO OBTENIDO</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Seleccione el tipo de documento obtenido.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field datos_curriculares_form.cat_documentos_obtenidos show_label=False %}
              </div>
              <div class="col-md-4">
                <label for="ente-publico" class="label-secondary">FECHA DE OBTENCIÓN DEL DOCUMENTO<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Fecha que indica el documento obtenido.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field datos_curriculares_form.conclusion show_label=False placeholder="Fecha de conclusión" field_class="valida_anio" %}
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-12">
                    <label for="ente-publico" class="label-secondary">LUGAR DONDE SE UBICA LA INSTITUCIÓN EDUCATIVA<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="País de ubicación de la Institución educativa.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {%include 'layout/nacionalidad.html' with field=datos_curriculares_form.cat_pais otro_field=datos_curriculares_form.ubicacion show_label=False pais_desabled=True %}
                    {% comment %} <div class="row">
                      <div class="col-md-4" id="id_{{ datos_curriculares_form.cat_pais.html_name }}_container_estado" style="display:none">
                        <label class="label-secondary ">Entidad Federativa</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Entidad federativa del registro.">
                          <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% bootstrap_field datos_curriculares_form.cat_entidades_federativas show_label=False %}
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label for="ente-publico" class="label-secondary">ACLARACIONES/OBSERVACIONES</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Aclaraciones y Observaciones">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
              </div>
            </div>
            <div class="row" style="{% if baja %}display: block; {% else %} display: none; {% endif %}">
              <input type="hidden" name="baja-curriculum" id="baja-curriculum" value="{% if baja %}True{% else %}False{% endif %}">
              <label for="ente-publico" class="label-secondary">EN CASO DE BAJA DE LOS DATOS CURRICULARES INCLUIR EL MOTIVO</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Especifique la razón por la cual quiere dar de baja estos datos curriculares.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Especifique la razón por la cual quiere dar de baja estos datos curriculares" %}
            </div>
            <div class="text-right">
              <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
                Guardar y agregar grado académico <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
              </button>
            </div>
            {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/i18n/es.js' %}"></script>
{% endblock %}