{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}

{% block content %}
  {% tipo_declaracion_code as tipo %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Datos del encargo actual</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <h2 class="h6 text-uppercase mb-2">
            4. DATOS DEL EMPLEO, CARGO O COMISION
          </h2>
        {% elif tipo == 'CONCLUSION' %}
          <h2 class="h6 text-uppercase mb-2">
            4. DATOS DEL EMPLEO, CARGO O COMISION QUE CONCLUYE
          </h2>
        {% else %}
        {% endif %}
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos del empleo, cargo o comisión que inicie.</li>
            </ul>
          </div>
        {% elif tipo == 'CONCLUSION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos del empleo, cargo o comisión que concluye.</li>
            </ul>
          </div>
        {% elif tipo == 'MODIFICACION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos del empleo, cargo o comisión actual.</li>
            </ul>
          </div>
        {% endif %}
        <p class="text-primary mt-3 mb-3">
          {% help_text_inicial 'Reportar los datos del empleo, cargo o comisión que inicie.' %}
          {% help_text_modificacion 'Reportar el empleo, cargo o comisión actual.' %}
          {% help_text_conclusion 'Reportar los datos del empleo, cargo o comisión que concluya.' %}
        </p>
        <form class="areyousure" action="{% url 'declaracion:datos-del-encargo-actual' folio_declaracion %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="nivel-gobierno" text_label="NIVEL / ORDEN DE GOBIERNO" title_button="Nivel de encargo asignado." is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.cat_ordenes_gobierno show_label=False %}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with text_label="ÁMBITO PÚBLICO" title_button="Elegir la naturaleza jurídica como: Ejecutivo, Legislativo, Judicial, órgano constitucional autónomo." is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.cat_poderes show_label=False %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="area-adscripcion" text_label="ÁREA DE ADSCRIPCIÓN" title_button="Nombre de la unidad administrativa ó área en la que se desempeña el declarante." is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.area_adscripcion show_label=False placeholder="Área de adscripción" %}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="nombre-cargo" text_label="NIVEL DEL EMPLEO, CARGO O COMISIÓN" title_button="Nivel del empleo cargo o comisión que viene en el recibo del pago." is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.empleo_cargo_comision  show_label=False placeholder="Nivel del empleo cargo o comisión que viene en el recibo del pago." %}
              </div>
            </div>
            <div class="col-md-4">
              {% include 'elementos/label.html' with text_label="¿ESTÁ CONTRATADO POR HONORARIOS?" title_button="Seleccionar si/no" is_required=True %}
              <div class="row">
                <div class="col-auto">
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="honorarios-si" name="datos_encargo_actual-honorarios" class="custom-control-input" value="true"  {% if datos_encargo_actual_form.honorarios.initial == 1 %} checked {% endif %}>
                    <label class="custom-control-label text-rg" for="honorarios-si">Sí</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="honorarios-no" name="datos_encargo_actual-honorarios" class="custom-control-input" value="false" {% if datos_encargo_actual_form.honorarios.initial == 0 %} checked {% endif %}>
                    <label class="custom-control-label text-rg" for="honorarios-no">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="nivel-cargo" text_label="EMPLEO, CARGO O COMISIÓN" title_button="Nombre del empleo, cargo o comisión" is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.nivel_encargo  show_label=False placeholder="Nombre del empleo, cargo o comisión" %}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="ente-publico" text_label="NOMBRE DEL ENTE PÚBLICO" title_button="Nombre del ente público en el que se desempeña el declarante." is_required=True %}
                {% bootstrap_field datos_encargo_actual_form.cat_entes_publicos show_label=False %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-primary">
                Si cambiaste de ente público o nivel de empleo, cargo o comisión, debes de realizar el cambio en la sección de <strong><a href="{% url 'declaracion:perfil' %}" target="_blank">Mi cuenta</a></strong> de usuario y notificar tu cambio
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {% include 'elementos/label.html' with text_label="ESPECIFIQUE FUNCIÓN PRINCIPAL" title_button="Seleccionar funciones prinicipales." is_required=True %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field datos_encargo_actual_form.cat_funciones_principales show_label=False %}
              
            </div>
            <div class="col-md-3" id="otro-{{ datos_encargo_actual_form.cat_funciones_principales.html_name }}">
              <div class="form-group mb-0">
                <label class="sr-only" for="id_datos_encargo_actual-otra_funcion">Otra funcion</label>
                <div class="mb-0">
                  <input type="text" value="{{ datos_encargo_actual_form.otra_funcion.value }}" name="datos_encargo_actual-otra_funcion" maxlength="255" class="form-control" placeholder="Otra función" title="" id="id_datos_encargo_actual-otra_funcion">
                </div>
              </div>
              {% if datos_encargo_actual_form.otra_funcion.errors %} <div class="invalid-feedback porcentaje-lbl" style="display: block;">Este campo es obligatorio</div> {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% if tipo == 'CONCLUSION' %}
                {% include 'elementos/label.html' with text_label="FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN" title_button="Deberá coincidir con la que se haya dado de baja en el área de Recursos Humanos." is_required=True %}
              {% else %}
                {% include 'elementos/label.html' with text_label="FECHA DE TOMA DE POSESIÓN DEL EMPLEO, CARGO O COMISIÓN" title_button="Fecha de inicio del cargo." is_required=True %}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field datos_encargo_actual_form.posesion_inicio show_label=False placeholder="Fecha de toma de posesión" %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="cargo-tel" text_label="TELÉFONO DE OFICINA" title_button="Número teléfonico del encargo." is_required=False %}
                {% bootstrap_field datos_encargo_actual_form.telefono_laboral show_label=False placeholder="Teléfono laboral" field_class="valida_telefono" %}
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                {% include 'elementos/label.html' with for_label="cargo-tel" text_label="EXTENSIÓN." title_button="Número de extensión." is_required=False apply=True %}
                {% bootstrap_field datos_encargo_actual_form.telefono_extension show_label=False placeholder="Extensión" field_class="valida_telefono" %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {% include 'elementos/label.html' with class_content="form-group" text_label="DOMICILIO DEL EMPLEO, CARGO O COMISIÓN" title_button="Dirección en la que se presta el empleo o comisión." is_required=False text_small="Lugar en el que se encuentra" %}
            </div>
          </div>
          {% include 'declaracion/direccion.html' with form=domicilio_form nombre_via=True num_interior=True exterior=True entidad=True %}
          <div class="row">
            <div class="col-12">
              {% include 'elementos/label.html' with text_label="ACLARACIONES/OBSERVACIONES" title_button="Aclaraciones y Observaciones" is_required=False %}
              {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
            </div>
          </div>
            {% if tipo == 'MODIFICACION' %}
              <div class="row">
                <div class="col-md-12">
                  {% include 'elementos/label.html' with text_label="¿Cuenta con otro empleo cargo o comisión en el servicio público distinto al declarado?" title_button="Seleccionar si/no" is_required=True %}
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="{{ datos_encargo_actual_form.tiene_otro_cargo.id_for_label }}" name="{{ datos_encargo_actual_form.prefix }}-{{ datos_encargo_actual_form.tiene_otro_cargo.name }}" class="custom-control-input" value="true"  {% if datos_encargo_actual_form.tiene_otro_cargo.initial == 1 %} checked {% endif %}>
                    <label class="custom-control-label text-rg" for="{{ datos_encargo_actual_form.tiene_otro_cargo.id_for_label }}">Sí</label>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="{{ datos_encargo_actual_form.tiene_otro_cargo.id_for_label }}1" name="{{ datos_encargo_actual_form.prefix }}-{{ datos_encargo_actual_form.tiene_otro_cargo.name }}" class="custom-control-input" value="false" {% if datos_encargo_actual_form.tiene_otro_cargo.initial == 0 %} checked {% endif %}>
                    <label class="custom-control-label text-rg" for="{{ datos_encargo_actual_form.tiene_otro_cargo.id_for_label }}1">No</label>
                  </div>
                </div>
              </div>
              <div id="otro_cargo">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="nivel-gobierno" text_label="NIVEL / ORDEN DE GOBIERNO" title_button="Nivel de encargo asignado." is_required=True %}
                      {% bootstrap_field otro_cargo_form.cat_ordenes_gobierno  show_label=False %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    {% include 'elementos/label.html' with text_label="ÁMBITO PÚBLICO" title_button="Elegir la naturaleza jurídica como: Ejecutivo, Legislativo, Judicial, órgano constitucional autónomo." is_required=True %}
                    {% bootstrap_field otro_cargo_form.cat_poderes show_label=False %}
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="ente-publico" text_label="NOMBRE DEL ENTE PÚBLICO" title_button="Nombre del ente público en el que se desempeña el declarante." is_required=True %}
                      {% bootstrap_field otro_cargo_form.cat_entes_publicos show_label=False %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="area-adscripcion" text_label="ÁREA DE ADSCRIPCIÓN" title_button="Nombre de la unidad administrativa ó área en la que se desempeña el declarante." is_required=True %}
                      {% bootstrap_field otro_cargo_form.area_adscripcion show_label=False placeholder="Área de adscripción" %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="nombre-cargo" text_label="NIVEL DEL EMPLEO, CARGO O COMISIÓN" title_button="Nombre del empleo cargo o comisión." is_required=True %}
                      {% bootstrap_field otro_cargo_form.empleo_cargo_comision  show_label=False placeholder="Nombre del empleo, cargo o comisión" %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    {% include 'elementos/label.html' with text_label="¿ESTÁ CONTRATADO POR HONORARIOS?" title_button="Seleccionar si/no" is_required=True %}
                    <div class="row">
                      <div class="col-auto">
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                          <input type="radio" id="otro_cargo-honorarios-si" name="otro_cargo-honorarios" class="custom-control-input" value="true"  {% if otro_cargo_form.honorarios.initial == 1 %} checked {% endif %}>
                          <label class="custom-control-label text-rg" for="otro_cargo-honorarios-si">Sí</label>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                          <input type="radio" id="otro_cargo-honorarios-no" name="otro_cargo-honorarios" class="custom-control-input" value="false" {% if otro_cargo_form.honorarios.initial == 0 %} checked {% endif %}>
                          <label class="custom-control-label text-rg" for="otro_cargo-honorarios-no">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="nivel-cargo" text_label="EMPLEO, CARGO O COMISIÓN" title_button="Nivel de encargo asignado." is_required=True %}
                      {% bootstrap_field otro_cargo_form.nivel_encargo  show_label=False placeholder="Nivel de encargo" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    {% include 'elementos/label.html' with text_label="ESPECIFIQUE FUNCIÓN PRINCIPAL" title_button="Seleccionar funciones prinicipales." is_required=True %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    {% bootstrap_field otro_cargo_form.cat_funciones_principales show_label=False %}
                  </div>
                  <div class="col-md-3" id="otro-{{ otro_cargo_form.cat_funciones_principales.html_name }}">
                    {% bootstrap_field otro_cargo_form.otra_funcion show_label=False placeholder="Otra función"%}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    {% include 'elementos/label.html' with text_label="FECHA DE TOMA DE POSESIÓN DEL EMPLEO, CARGO O COMISIÓN" title_button="Fecha de toma de posesión." is_required=True %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    {% bootstrap_field otro_cargo_form.posesion_inicio show_label=False placeholder="Fecha de toma de posesión" %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 my-3">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="cargo-tel" text_label="TELÉFONO DE OFICINA" title_button="Número teléfonico del encargo." is_required=False %}
                      {% bootstrap_field otro_cargo_form.telefono_laboral  show_label=False placeholder="Teléfono laboral"  field_class="valida_telefono"  %}
                    </div>
                  </div>
                  <div class="col-md-2 my-3">
                    <div class="form-group">
                      {% include 'elementos/label.html' with for_label="cargo-tel" text_label="EXTENSIÓN." title_button="Número de extensión." is_required=False apply=True %}
                      {% bootstrap_field otro_cargo_form.telefono_extension show_label=False placeholder="Extensión" field_class="valida_telefono" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    {% include 'elementos/label.html' with class_content="form-group" text_label="DOMICILIO DEL EMPLEO, CARGO O COMISIÓN" title_button="Dirección en la que se presta el empleo o comisión." is_required=False text_small="Lugar en el que se encuentra" %}
                  </div>
                </div>
                {% include 'declaracion/direccion.html' with form=otro_cargo_domicilio_form entidad=True exterior=True %}
                <div class="row">
                  <div class="col-12">
                    {% include 'elementos/label.html' with text_label="ACLARACIONES/OBSERVACIONES" title_button="Aclaraciones y Observaciones" is_required=False %}
                    {% bootstrap_field otro_cargo_observaciones_form.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/i18n/es.js' %}"></script>
  <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script src="/static/smart-selects/admin/js/bindfields.js"></script>
  {{ domicilio_form.media.js }}
{% endblock %}