{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}

{% block content %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-reset">Domicilio del declarante</a></li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 text-uppercase mb-2">
          2. DOMICILIO DEL DECLARANTE
        </h2>
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido en el mes inmediato.</li>
            </ul>
          </div>
        {% elif tipo == 'CONCLUSION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido entre el 01 de enero y 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% elif tipo == 'MODIFICACION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos dependientes económicos que hayas adquirido entre el 01 de enero y 31 de diciembre 2020.</li>
            </ul>
          </div>
        {% endif %}
        <br>
        <form class="areyousure" action="{% url 'declaracion:domicilio' folio_declaracion %}" method="post">
          {% csrf_token %}
          {{ declaracion }}
          {% include 'declaracion/direccion.html' with form=domicilio tipo_via=True nombre_via=True exterior=True entidad=True%}
          <div class="row">
            <div class="col-12">
              {% include 'elementos/label.html' with text_label="ACLARACIONES/OBSERVACIONES" title_button="Aclaraciones y Observaciones." is_required=False %}
              {% bootstrap_field observaciones.observacion show_label=False placeholder="Aclaraciones y Observaciones" %}
            </div>
          </div>
          {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/i18n/es.js' %}"></script>
  <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script src="/static/smart-selects/admin/js/bindfields.js"></script>
  {{ domicilio.media.js }}
{% endblock %}
