{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}

{% block content %}
  {% no_aplica as checked %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Datos de la Pareja</li>
          </ol>
        </nav>
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 text-uppercase mb-2">
          6. DATOS DE LA PAREJA
        </h2>
        {% tipo_declaracion_code as tipo %}
        {% if tipo == 'INICIAL' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos de la pareja (los ingresos a reportar son mensuales).</li>
            </ul>
          </div>
        {% elif tipo == 'CONCLUSION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos de la pareja (los ingresos a reportar son los que recibió durante el año hasta la fecha de la conclusión del empleo, cargo o comisión).</li>
            </ul>
          </div>
        {% elif tipo == 'MODIFICACION' %}
          <div class="text-blue">
            <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
            <ol style="list-style-type:none;">
              <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
              <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
              <li>3) Ingresa la información de aquellos datos de la pareja (los ingresos a reportar son los del año inmediato anterior).</li>
            </ul>
          </div>
        {% endif %}
        <p class="text-primary mb-3 mt-3">
          {% help_text_inicial 'Para la declaración de inicio los ingresos a reportar son mensuales.' %}
          {% help_text_modificacion 'Para la declaración de modificación los ingresos a reportar son los del año inmediato anterior.' %}
          {% help_text_conclusion 'Para la declaración de conclusión los ingresos a reportar son los que recibió durante el año hasta la fecha de la conclusión del empleo, cargo o comisión.' %}
        </p>
        <p class="text-muted text-sm mb-3 mt-3">En caso de contar con información previamente registrada, da clic en (Agregar) y podras visalizar asi como actualizar tu información, al finalizar da clic en (guardar y continuar) para segir con tu declaración</p>
        <p class="text-muted text-sm mb-3 mt-3">Para este rubro es necesario tener a la vista acta de nacimiento del cónyuge o pareja, concubina/concubinario o sociedad en convivencia o cualquier otro documento” donde se incluya la información</p>
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <div class="col-md-12">
                  <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}info{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if agregar %}
          <form class="areyousure" action="{% url 'declaracion:datos-pareja-agregar' folio_declaracion %}" method="post" novalidate>
        {% elif editar_id %}
          <form class="areyousure" action="{% url 'declaracion:datos-pareja-editar' folio_declaracion editar_id %}" method="post" novalidate>
        {% else %}
          {% comment %} href="{% url 'declaracion:datos-pareja-agregar' folio_declaracion %}" {% endcomment %}
          {% if informacion_registrada.count < 2 %}
            {# No permite agregar a más de dos parejas #}
            <a href="javascript:alta('declaracion:datos-pareja-agregar', '{{folio_declaracion}}');" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
              Agregar pareja
              <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
            </a>
          {% endif %}
          <form action="{% url 'declaracion:datos-pareja' folio_declaracion %}" method="post" novalidate>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="NOMBRE" titulo_dos="TIPO DE RELACIÓN" titulo_tres="FECHA DE NACIMIENTO" agregar=agregar editar_id=editar_id pareja=pareja%}
            {% csrf_token %}
            {% if informacion_registrada %}
              <div class="w-100" id="buttonDeleteAllDataList">
                <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
              </div>
            {% endif %}
            <input type="hidden" name="no_aplica" value="on">
            {% aplica as not_submit %}
            {% include 'layout/guardar.html' with not_submit=not_submit %}
          </form>
          <form class="areyousure" style="display: none;" action="{% url 'declaracion:datos-pareja' folio_declaracion %}" method="post" novalidate>
        {% endif %}
          {% csrf_token %}
          <div class="row">
            {% include 'layout/no_aplica.html' %}
          </div>
          <input type="hidden" name="var-es_fisica" value="True">
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="NOMBRE" titulo_dos="TIPO DE RELACIÓN" titulo_tres="FECHA DE NACIMIENTO" agregar=agregar editar_id=editar_id pareja=pareja%}
          {% if informacion_registrada %}
            <div class="w-100" id="buttonDeleteAllDataList">
              <input type="submit" value="Eliminar datos seleccionados" class="btn btn-danger btn-md btn-block text-uppercase font-weight-bold mb-3 mt-0">
            </div>
          {% endif %}
          {% if conyuge_dependiente_form.baja.initial %}
            <div class="alert alert-danger" role="alert">
                <label class="label-secondary">Esta pareja esta dada de baja</label>
            </div>
          {% endif %}
          <div class="row-form" style="{% if checked %}display: none;{% endif %} {% if baja %}display: none;{% endif %} {% if conyuge_dependiente_form.baja.initial %}display: none;{% endif %}">

            <div class="row">
              <div class="col-md-4">
                {% include 'elementos/label.html' with for_label="relacion-nombre" text_label="NOMBRE(S)" title_button="Nombre(S) completos del cónyuge o dependiente económico, sin abreviaturas y preferentemente sin acentos  ni  signos  especiales." is_required=True %}
                {% bootstrap_field info_personal_var_form.nombres show_label=False field_class="solo_letras" %}
              </div>
              <div class="col-md-4">
                {% include 'elementos/label.html' with for_label="relacion-apellido1" legend=False text_label="PRIMER APELLIDO" title_button="Sin abreviaturas, sin acentos, ni signos especiales." is_required=True %}
                {% bootstrap_field info_personal_var_form.apellido1 show_label=False placeholder="Primer apellido" field_class="solo_letras" %}
              </div>
              <div class="col-md-4">
                {% include 'elementos/label.html' with for_label="relacion-apellido2" legend=False text_label="SEGUNDO APELLIDO" title_button="Sin abreviaturas, sin acentos, ni signos especiales y en caso de no tener poner X." is_required=True %}
                {% bootstrap_field info_personal_var_form.apellido2 show_label=False placeholder="Segundo apellido" field_class="solo_letras" %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                {% include 'elementos/label.html' with text_label="FECHA DE NACIMIENTO" title_button="dd/mm/aaaa" is_required=True %}
                {% bootstrap_field info_personal_var_form.fecha_nacimiento show_label=False placeholder="Fecha de nacimiento" %}
              </div>
              <div class="col-md-4">
                {% include 'elementos/label.html' with for_label="relacion-rfc" text_label="RFC CON HOMOCLAVE" apply=False title_button="Los 10 caracteres básicos y los 3 caracteres de la homoclave. Si es una persona moral son 9 caracteres básicos y los 3 de la homoclave." is_required=False %}
                {% bootstrap_field info_personal_var_form.rfc  field_class='valida_rfc_fisica' show_label=False placeholder="RFC" %}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label class="label-secondary">RELACIÓN CON EL DECLARANTE<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el tipo de relación con el cónyuge o dependiente económico">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                {% bootstrap_field conyuge_dependiente_form.cat_tipos_relaciones_personales show_label=False %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-secondary">¿ES CIUDADANO EXTRANJERO?<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar si es o no Extranjero">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="extranjero-si" name="conyuge_dependiente-ciudadanoExtranjero" value="true" class="custom-control-input" {% if not conyuge_dependiente_form.ciudadanoExtranjero.initial %}checked{% endif %}  {% if conyuge_dependiente_form.ciudadanoExtranjero.initial == True %}checked{% endif %}>
                      <label class="custom-control-label text-rg" for="extranjero-si">Sí</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="extranjero-no" name="conyuge_dependiente-ciudadanoExtranjero" value="false" class="custom-control-input" {% if conyuge_dependiente_form.ciudadanoExtranjero.initial == False %}checked{% endif %}>
                      <label class="custom-control-label text-rg" for="extranjero-no">No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="relacion-curp" class="label-secondary">CURP <span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 18 caracteres de la Clave Unica de Registro de Población.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field info_personal_var_form.curp field_class='valida_curp' show_label=False placeholder="CURP" %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label-secondary">¿ES DEPENDIENTE ECONÓMICO?<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Marcar si cuenta o no.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="ingresos-si" name="conyuge_dependiente-ingresos_propios" value="true" class="custom-control-input" {% if not conyuge_dependiente_form.ingresos_propios.initial %}checked{% endif %}  {% if conyuge_dependiente_form.ingresos_propios.initial == True %}checked{% endif %}>
                      <label class="custom-control-label text-rg" for="ingresos-si">Sí</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="ingresos-no" name="conyuge_dependiente-ingresos_propios" value="false" class="custom-control-input" {% if conyuge_dependiente_form.ingresos_propios.initial == False %}checked{% endif %}>
                      <label class="custom-control-label text-rg" for="ingresos-no">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label class="label-secondary">¿HABITA EN EL DOMICILIO DEL DECLARANTE?<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Si / No">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="mismo-domicilio-si" name="conyuge_dependiente-habita_domicilio" value="true" class="custom-control-input" {% if not conyuge_dependiente_form.habita_domicilio.initial %}checked{% endif %}  {% if conyuge_dependiente_form.habita_domicilio.initial == True %}checked{% endif %} >
                      <label class="custom-control-label text-rg" for="mismo-domicilio-si">Sí</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                      <input type="radio" id="mismo-domicilio-no" name="conyuge_dependiente-habita_domicilio" value="false" class="custom-control-input" {% if conyuge_dependiente_form.habita_domicilio.initial == False %}checked{% endif %}>
                      <label class="custom-control-label text-rg" for="mismo-domicilio-no">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="label-secondary mb-0">DOMICILIO DE LA PAREJA</label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Dirección en la que se presta el empleo o comisión">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
              </div>
            </div>
            {% include 'declaracion/direccion.html' with form=domicilio_form pais=True vacio=True entidad=True %}
            <div class="row">
                  <div class="col-md-12">
                    {% include 'elementos/label.html' with text_label="ACTIVIDAD LABORAL" title_button="Elegir el ambito de pertenencia: sector publico, privado o social." is_required=True %}
                    {% include 'layout/radiobuttons.html' with field_select=conyuge_dependiente_form.fields.cat_ambitos_laborales  field_name=conyuge_dependiente_form.cat_ambitos_laborales otro_name=conyuge_dependiente_form.otro_ambitos_laborales col=2 col_o=4 field_class="ambitoslaborales" %}
                  </div>
                </div>
            <div id="id_pareja-dependiente_container_trabajo">
              <div class="row">
                <div class="col-md-4" id="orden_gobierno">
                  <label for="experiencia-nivel" class="label-secondary">NIVEL / ORDEN DE GOBIERNO</label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Elegir la opción estatal (local)">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field  conyuge_dependiente_form.cat_ordenes_gobierno show_label=False %}
                </div>
                <div class="col-md-4" id="poderes">
                  <label class="label-secondary">ÁMBITO PÚBLICO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Elegir la naturaleza jurídica como: Ejecutivo, Legislativo, Judicial, órgano constitucional autónomo">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field conyuge_dependiente_form.cat_poderes show_label=False %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" id="ente-publico">
                  <label for="exp-institucion" class="label-secondary">NOMBRE DEL ENTE PÚBLICO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre de la unidad administrativa o área en la que se desempeña.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field conyuge_dependiente_form.nombre_institucion show_label=False placeholder="Nombre de la institución en la que ejerce el encargo" col=4 %}
                </div>
                <div class="col-md-12" id="nombre-institucion">
                  <label for="exp-institucion" class="label-secondary">NOMBRE DE LA EMPRESA, SOCIEDAD O ASOCIACION <span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre de la empresa en la que ejerce el encargo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field conyuge_dependiente_form.nombre_empresa show_label=False placeholder="Nombre de la institución en la que ejerce el encargo" %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" id="rfc-pareja-moral">
                  <label for="rfc" class="label-secondary">RFC moral <small class="text-help text-primary">(si aplica)</small></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 9 caracteres básicos y los 3 caracteres de la homoclave.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field conyuge_dependiente_form.rfc field_class='valida_rfc_moral' show_label=False placeholder="RFC" %}
                </div>
                <div class="col-md-6" id="area_adscrip">
                  <label for="exp-area" class="label-secondary">ÁREA DE ADSCRIPCIÓN / ÁREA<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre de la unidad administrativa ó área en la que se desempeña el declarante">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field  conyuge_dependiente_form.unidad_area_administrativa  show_label=False placeholder="Unidad administrativa / área" %}
                </div>
                <div class="col-6">
                  <label for="exp-cargo" class="label-secondary">EMPLEO, CARGO O COMISIÓN / PUESTO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el puesto o cargo ocupado.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field  conyuge_dependiente_form.cargo_puesto show_label=False placeholder="Cargo / Puesto" %}
                </div>
              </div>

              <div class="row" id="funcion_principal">
                <div class="col-12 mt-3">
                  <label class="label-secondary mb-2">ESPECIFIQUE FUNCIÓN PRINCIPAL<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Funciones definidas para el encargo del declarante.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <div class="row">
                    <div class="col-md-8">
                      {% bootstrap_field conyuge_dependiente_form.cat_funciones_principales show_label=False %}
                    </div>
                    <div class="col-md-4" id="otro-{{ conyuge_dependiente_form.cat_funciones_principales.html_name }}">
                      {% bootstrap_field conyuge_dependiente_form.otro_funcion show_label=False placeholder="Otra función" %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="beneficio-valor" class="label-secondary">SALARIO MENSUAL NETO<span class="text-danger text-lg font-weight-bold">*</span></label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Monto mensual neto sin centavos.">
                      <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field conyuge_dependiente_form.ingresosPropios show_label=False placeholder="" %}
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="label-secondary">FECHA DE INGRESO<span class="text-danger text-lg font-weight-bold">*</span></label>
                  <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Fecha de ingreso donde se realiza el encargo.">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  {% bootstrap_field conyuge_dependiente_form.fecha_ingreso show_label=False placeholder="Fecha de ingreso" %}
                </div>
              </div>

              <div class="row sector">
                <div class="col-6 my-2">
                  <label class="label-secondary mb-2">¿ES PROVEEDOR O CONTRATISTA DEL GOBIERNO?</label>
                  <button type="button" class="btn btn-link p-0 btn-information mr-3" data-toggle="tooltip" tabindex="9999"  title="Indicar Si / No">
                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                  </button>
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="proveedor-gobierno-no" name="conyuge_dependiente-proveedor_contratista" {% if conyuge_dependiente_form.proveedor_contratista.initial == 0 %} checked {% endif %} value="false" class="custom-control-input">
                    <label class="custom-control-label text-rg" for="proveedor-gobierno-no">No</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline radio-secondary">
                    <input type="radio" id="proveedor-gobierno-si" name="conyuge_dependiente-proveedor_contratista" {% if conyuge_dependiente_form.proveedor_contratista.initial == 1 %} checked {% endif %} value="true" class="custom-control-input">
                    <label class="custom-control-label text-rg" for="proveedor-gobierno-si">Sí</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sector" style="display: none;">
              <div class="col-6 mb-2">
                <label class="label-secondary mb-2">SECTOR AL QUE PERTENECE<span class="text-danger text-lg font-weight-bold">*</span></label>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Sector o Área laboral al que pertenece el encargo.">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
                <div class="row">
                  <div class="col-md-8">
                    {% bootstrap_field conyuge_dependiente_form.cat_sectores_industria show_label=False %}
                  </div>
                  <div class="col-md-4" id="otro-{{ conyuge_dependiente_form.cat_sectores_industria.html_name }}">
                    {% bootstrap_field conyuge_dependiente_form.otro_sector show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              {% include 'elementos/textarea_aclaraciones_observaciones_dp.html' with save_add=True %}
            </div>
          </div>
          <div class="row" style="{% if baja %}display: block; {% else %} display: none; {% endif %}">
            <div class="col-md-12">
              <input type="hidden" name="baja-parejas" id="baja-parejas" value="{% if baja %}True{% else %}False{% endif %}">
              <label for="ente-publico" class="label-secondary">EN CASO DE BAJA DE LA PAREJA INCLUIR EL MOTIVO</label>
              {% bootstrap_field conyuge_dependiente_form.observaciones_baja show_label=False placeholder="Especifique la razón por la cual quiere dar de baja a la pareja" %}
            </div>
          </div>
          {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/i18n/es.js' %}"></script>
  <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script src="/static/smart-selects/admin/js/bindfields.js"></script>
  {{ domicilio_form.media.js }}
{% endblock %}