{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}

{% block content %}
  {% load no_aplica %}
  {% no_aplica as checked %}
  {% load secciones %}
  {% tipo_declaracion_code as tipo %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-md-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            {% comment %} <li class="breadcrumb-item"><a href="#" class="text-reset">INGRESO</a></li> {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Sueldos y salarios públicos</li>
          </ol>
        </nav>
        {% es_completa folio_declaracion as completa %}
        <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL<span class="text-primary">{% tipo_declaracion %}</span></h1>
        <h2 class="h6 mb-0 text-uppercase mt-3 mb-1">
          {% if completa %}9. {% else %}7. {% endif %}¿TE DESEMPEÑASTE COMO SERVIDOR PÚBLICO EN EL AÑO INMEDIATO ANTERIOR?
        </h2>
        <form class="areyousure" action="{% url 'declaracion:servidor-publico' folio_declaracion %}" method="post" novalidate >
          {% csrf_token %}
          <div class="row">
            {% include 'layout/si_no.html' %}
          </div>
          {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Tipo de Operación" titulo_dos="Forma de adquisición" titulo_tres="Titular" agregar=agregar editar_id=editar_id %}
          <div id="id_{{ form.cat_pais.html_name }}_container_servidor" style="{% if checked %}display: none;{% endif %}">
            <div class="row">
              <div class="col-md-4">
                {% include 'elementos/label.html' with text_label="FECHA DE INICIO" title_button="Fecha de ingreso a la entidad pública donde se realiza el encargo." is_required=True %}
                {% bootstrap_field servidor_publico_form.fecha_ingreso show_label=False %}
              </div>
              <div class="col-md-4">
                {% include 'elementos/label.html' with text_label="FECHA DE CONCLUSIÓN" title_button="Fecha de salida a la entidad pública donde se realiza el encargo." is_required=True %}
                {% bootstrap_field servidor_publico_form.fecha_salida show_label=False %}
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                {% include 'elementos/label.html' with text_label="INGRESOS NETOS RECIBIDOS DURANTE EL TIEMPO EN EL QUE SE DESEMPEÑÓ COMO SERVIDOR PÚBLICO EN EL AÑO INMEDIATO ANTERIOR" title_button="Por concepto de sueldos, honorarios, compensaciones, bonos y otras prestaciones." is_required=True only_number=True %}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {% if tipo == 'INICIAL' %}
                  {% include 'elementos/label.html' with text_label="I.REMUNERACIÓN ANUAL NETA DEL DECLARANTE POR SU CARGO PÚBLICO (POR CONCEPTO DE SUELDOS, HONORARIOS, COMPENSACIONES, BONOS Y OTRAS PRESTACIONES) (CANTIDADES NETAS DE IMPUESTOS)" is_required=True only_number=True %}
                {% elif tipo == 'CONCLUSION' %}
                  {% include 'elementos/label.html' with text_label="I.REMUNERACIÓN ANUAL NETA DEL DECLARANTE POR SU CARGO PÚBLICO (POR CONCEPTO DE SUELDOS, HONORARIOS, COMPENSACIONES, BONOS Y OTRAS PRESTACIONES) (CANTIDADES NETAS DE IMPUESTOS)" is_required=True only_number=True %}
                {% else %}
                  {% include 'elementos/label.html' with text_label="I. REMUNERACIÓN NETA DEL DECLARANTE, RECIBIDA DURANTE EL TIEMPO EN EL QUE SE DESEMPEÑO COMO SERVIDOR PÚBLICO EN EL AÑO INMEDIATO ANTERIOR(CANTIDADES NETAS DESPUÉS DE IMPUESTOS)" title_button="Por concepto de sueldos, honorarios, compensaciones, bonos y otras prestaciones. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                {% endif %}
                {% bootstrap_field servidor_publico_form.ingresosNeto placeholder="Monto" show_label=False field_class="suma2" %}
              </div>

              <div class="col-6">
                {% if tipo == 'CONCLUSION' %}
                  {% include 'elementos/label.html' with text_label="II. OTROS INGRESOS DEL DECLARANTE, RECIBIDOS DURANTE EL TIEMPO EN EL QUE SE DESEMPEÑÓ COMO SERVIDOR PÚBLICO EN EL AÑO INMEDIATO ANTERIOR" title_button="Ingreso del declarante sin impuestos ni deducciones." is_required=True small_text="(SUMA DEL II.1 AL II.5)" %}
                {% else %}
                  {% include 'elementos/label.html' with text_label="II. OTROS INGRESOS DEL DECLARANTE, RECIBIDOS DURANTE EL TIEMPO EN EL QUE SE DESEMPEÑÓ COMO SERVIDOR PÚBLICO EN EL AÑO INMEDIATO ANTERIOR" title_button="Ingreso del declarante sin impuestos ni deducciones." is_required=True small_text="(SUMA DEL II.1 AL II.5)" %}
                {% endif %}
                <span class="i"><input type="text" id="sumaTotal1" class="form-control" placeholder="Otros Ingresos" readonly="true"/></span>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.1 POR ACTIVIDAD INDUSTRIAL, COMERCIAL Y/O EMPRESARIAL (DESPUÉS DE IMPUESTOS)" title_button="Ingreso del declarante sin impuestos ni deducciones. En caso de no tener, poner un 0." is_required=True only_number=True %}
                {% bootstrap_field servidor_publico_form.remuneracionActividadIndus placeholder="Ingresos por actividad Industrial" show_label=False field_class="suma1"%}
              </div>
            </div>
            
            <div class="row" id="fieldsActividadInd">
              <div class="col-md-6">
                {% include 'elementos/label.html' with text_label="NOMBRE O RAZÓN SOCIAL" title_button="Nombre o razón social." is_required=True %}
                {% bootstrap_field servidor_publico_form.razonSocial placeholder="Razón Social" show_label=False %}
              </div>
              <div class="col-md-6">
                {% include 'elementos/label.html' with text_label="TIPO DE NEGOCIO" title_button="Tipo de negocio." is_required=True %}
                {% bootstrap_field servidor_publico_form.tipoNegocio placeholder="Tipo de Negocio" show_label=False %}
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.2 POR ACTIVIDAD FINANCIERA(DESPUÉS DE IMPUESTOS)" title_button="Ingreso del declarante sin impuestos ni deducciones. En caso de no tener, poner un 0." is_required=True only_number=True %}
                {% bootstrap_field servidor_publico_form.remuneracionActFinan placeholder="Ingresos por actividad Financiera" show_label=False field_class="suma1" %}
              </div>
            </div>

            <div class="row" id="fieldsActivFinan">
              <div class="col-6">
                {% include 'elementos/label.html' with text_label="TIPO DE INSTRUMENTO QUE GENERÓ EL RENDIMIENTO O GANANCIA" title_button="Elegir el ambito de pertenencia: sector publico, privado o social" is_required=True %}
                {% bootstrap_field servidor_publico_form.tipoActFinan field_class='entidad' show_label=False %}
              </div>
              <div class="col-4" id="otro-{{ servidor_publico_form.tipoActFinan.html_name }}">
                {% include 'elementos/label.html' with text_label="OTRO INSTRUMENTO" is_required=True %}
                {% bootstrap_field servidor_publico_form.otroTipoInstrumentoGanancia show_label=False %}
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                {% include 'elementos/label.html' with text_label="II.3 POR SERVICIOS PROFESIONALES, CONSEJOS, CONSULTORÍAS Y/O ASESORÍAS (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                {% bootstrap_field servidor_publico_form.remuneracionServProf placeholder="Ingresos por actividad Financiera" show_label=False field_class="suma1" %}
              </div>
              <div class="col-6" id="fieldsServiProfs">
                {% if tipo == 'INICIAL' %}
                  {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="TIPO DE SERVICIO PRESTADO" title_button="Indicar el tipo de servicio por el cual obtuvo el ingreso." is_required=True %}
                {% elif tipo == 'CONCLUSION' %}
                  {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="TIPO DE SERVICIO PRESTADO" title_button="Indicar el tipo de servicio por el cual obtuvo el ingreso." is_required=True %}
                {% else %}
                  {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="TIPO DE SERVICIO PRESTADO" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0' o llenarlo escribiendo 'NINGUNO'." is_required=True %}
                {% endif %}
                {% bootstrap_field servidor_publico_form.tipoServProf placeholder="Tipo Servicio Profesional" show_label=False %}
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.4 POR ENAJENACIÓN DE BIENES (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                {% bootstrap_field servidor_publico_form.remuneracionEnajenacion placeholder="Ingresos por Enajenación" show_label=False field_class="suma1"%}
              </div>
              <div class="col-6" id="fieldsTiposBienEnaje">
                {% include 'elementos/label.html' with text_label="TIPO BIEN ENAJENADO" title_button="Elegir el tipo de bien enajenado: MUEBLE, INMUEBLE, VEHÍCULO" is_required=True only %}
                {% bootstrap_field servidor_publico_form.tipoEnajenacion show_label=False %}
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.5 OTROS INGRESOS NO CONSIDERADOS A LOS ANTERIORES (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                {% bootstrap_field servidor_publico_form.remuneracionOtrosIng placeholder="Otros Ingresos" show_label=False field_class="suma1" %}
              </div>
              <div class="col-md-6" id="fieldsOtroTipoIngresos">
                {% if tipo == 'INICIAL' %}
                  {% include 'elementos/label.html' with text_label="ESPECIFICAR TIPO DE INGRESO" title_button="Arrendamiento, regalía, sorteos, concursos, donaciones, seguros de vida, etc." is_required=True %}
                {% else %}
                  {% include 'elementos/label.html' with text_label="ESPECIFICAR TIPO DE INGRESO" title_button="Arrendamiento, regalía, sorteos, concuros, donaciones, seguros de vida, etc. En caso de no tener, el campo debe llenarse con '0' o llenarlo escribiendo 'NINGUNO'." is_required=True %}
                {% endif %}
                {% bootstrap_field servidor_publico_form.tipoOtrosIng placeholder="Otro Tipo Servicio Profesional" show_label=False %}
              </div>
            </div>
            <div class="row">
              <div class="col-6 ">
                {% if tipo == 'CONCLUSION' %}
                  {% include 'elementos/label.html' with text_label="A. INGRESOS DEL DECLARANTE DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN" title_button="Suma del Numeral I y II" is_required=True %}
                {% else %}
                  {% include 'elementos/label.html' with text_label="A. INGRESO NETO DEL DECLARANTE RECIBIDO EN EL AÑO INMEDIATO ANTERIOR" title_button="Suma del Numeral I y II" is_required=True %}
                {% endif %}
                <span> <input type="text" id="sumaTotal2" class="form-control" placeholder="Otros Ingresos" readonly="true" /></span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 mt-3 suma3">
                  {% if tipo == 'CONCLUSION' %}
                    {% include 'elementos/label.html' with text_label="B. INGRESOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN DE LA PAREJA Y/O DEPENDIENTES ECONÓMICOS" title_button="Arrendamiento, regalía, sorteos, concuros, donaciones, seguros de vida, etc. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                  {% else %}
                    {% include 'elementos/label.html' with text_label="B. INGRESO NETO DE LA PAREJA Y/O DEPENDIENTES ECONÓMICOS RECIBIDO EN EL AÑO INMEDIATO ANTERIOR (DESPUÉS DE IMPUESTOS)" title_button="Arrendamiento, regalía, sorteos, concuros, donaciones, seguros de vida, etc. En caso de no tener, el campo debe llenarse con '0'." is_required=True only_number=True %}
                  {% endif %}
                  {% bootstrap_field servidor_publico_form.ingresoMensualDependientes placeholder="Ingresos Dependientes Económicos" show_label=False %}
              </div>
            </div>
            <div class="row">
              <div class="col-6 mb-3">
                {% if tipo == 'CONCLUSION' %}
                  {% include 'elementos/label.html' with text_label="C. TOTAL DE INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN PERCIBIDOS POR EL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS" title_button="Suma de los Apartados A y B. Monto final que recibe el trabajador tras reducciones de impuestos" is_required=True %}
                {% else %}
                  {% include 'elementos/label.html' with text_label="C. TOTAL DE INGRESOS MENSUALES NETOS PERCIBIDOS POR EL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS EN EL AÑO INMEDIATO ANTERIOR" title_button="Suma de los Apartados A y B. Monto final que recibe el trabajador tras reducciones de impuestos" is_required=True %}
                {% endif %}
                <span> <input type="text" id="sumaTotal3" class="form-control" placeholder="Otros Ingresos" readonly="true" /></span>
              </div>
            </div>
            <div class="row">
              {% include 'elementos/textarea_aclaraciones_observaciones.html' with save_add=False %}
            </div>
          </div>
          {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
