{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load secciones %}

{% block content %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      {% include 'layout/sidebar.html' %}
      <div class="col-sm-12 col-md-9">
        <nav class="col-sm-12 col-md-12" aria-label="breadcrumb">
          <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
            <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sueldos y salarios públicos</li>
          </ol>
        </nav>
        <div class="col-sm-12 col-md-12">
          <h1 class="text-uppercase text-black h5">I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL <span class="text-primary">{% tipo_declaracion %}</span></h1>
          
          {% tipo_declaracion as tipo %}
          {% tipo_declaracion_code as tipo_declaracion %}
          {% es_completa folio_declaracion as completa %}

          {% if tipo == "Declaración inicial" %}
            <h2 class="h6 mb-3 text-uppercase">
              {% if completa %}
                8. Ingresos netos del declarante, pareja y/o dependientes económicos (Situación actual)
              {% else %}
                6. Ingresos netos del declarante (Situación actual)
              {% endif %}
            </h2>
          {% elif tipo == 'Declaración de modificación patrimonial' %}
            <h2 class="h6 mb-3 text-uppercase">
              {% if completa %}
                8. INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA
              {% else %}
                6. INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA
              {% endif %}
              
            </h2>
          {% elif tipo == 'Declaración de conclusión' %}
            <h2 class="h6 mb-3 text-uppercase">
              {% if completa %}
                8. INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN DEL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS
              {% else %}
                6. INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN DEL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS
              {% endif %}
            </h2>
          {% elif tipo == 'Declaración de modificación' %}
            <h2 class="h6 mb-3 text-uppercase">
              {% if completa %}
                8. INGRESOS NETOS DEL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS (SITUACIÓN ACTUAL) <span class="text-primary">(entre el 1 de enero y 31 de diciembre del año inmediato anterior)</span>
              {% else %}
                6. INGRESOS NETOS DEL DECLARANTE <span class="text-primary">(entre el 1 de enero y 31 de diciembre del año inmediato anterior)</span>
              {% endif %}
            </h2>
          {% else %}
          {% endif %}

          {% tipo_declaracion_code as tipo %}
          {% if tipo == 'INICIAL' %}
            <div class="text-blue">
              <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
              <ol style="list-style-type:none;">
                <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
                <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
                <li>3) Ingresa la información de aquellos ingresos netos del declarante, pareja y/o dependientes económicos que hayas adquirido en el mes inmediato.</li>
              </ul>
            </div>
          {% elif tipo == 'CONCLUSION' %}
            <div class="text-blue">
              <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
              <ol style="list-style-type:none;">
                <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
                <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
                <li>3) Ingresa la información de aquellos ingresos netos del declarante, pareja y/o dependientes económicos que hayas adquirido entre el 01 de enero y 31 de diciembre de diciembre 2020.</li>
              </ul>
            </div>
          {% elif tipo == 'MODIFICACION' %}
            <div class="text-blue">
              <h4>En caso de haber aceptado cargar tu información de declaraciones previas, es importante que:</h4>
              <ol style="list-style-type:none;">
                <li>1) Verifiques que los datos sean correctos y elimines cualquier registro duplicado.</li>
                <li>2) Para aquellos registros que no elimines, ingresa y verifica que la información y todos los campos están debidamente llenados y actualizados.</li>
                <li>3) Ingresa la información de aquellos ingresos netos del declarante, pareja y/o dependientes económicos que hayas adquirido entre el 01 de enero y 31 de diciembre del año inmediato anterior.</li>
              </ul>
            </div>
          {% endif %}
          <p class="text-muted text-sm mb-3 mt-3">CAPTURAR CANTIDADES LIBRES DE IMPUESTOS, SIN COMAS, SIN PUNTOS, SIN CENTAVOS Y SIN CEROS A LA IZQUIERDA</p>
        </div>
        <form class="areyousure" action="{% url 'declaracion:ingresos-publicos' folio_declaracion %}" method="post" novalidate >
          {% csrf_token %}
          <div class="col-md-12">
            <label for="{{ for_label }}" class="label-secondary mb-2">
              {% if tipo_declaracion == 'MODIFICACION' %}
                I.REMUNERACIÓN ANUAL NETA DEL DECLARANTE POR SU CARGO PÚBLICO (POR CONCEPTO DE SUELDOS, HONORARIOS, COMPENSACIONES, BONOS Y OTRAS PRESTACIONES) (CANTIDADES NETAS DE IMPUESTOS).
                {% comment %} I. REMUNERACIÓN ANUAL NETA DEL DECLARANTE POR SU CARGO PÚBLICO (CANTIDADES NETAS DESPUÉS DE IMPUESTOS) {% endcomment %}
              {% elif tipo_declaracion == 'CONCLUSION' %}
                I. REMUNERACIÓN NETA DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN DEL DECLARANTE POR SU CARGO PÚBLICO (POR CONCEPTO DE SUELDOS, HONORARIOS, COMPENSACIONES, BONOS Y OTRAS PRESTACIONES) (CANTIDADES NETAS DESPUÉS DE IMPUESTOS)
              {% elif tipo_declaracion == 'INICIAL' %}
                  I. REMUNERACIÓN MENSUAL NETA DEL DECLARANTE POR SU CARGO PÚBLICO (POR CONCEPTO DE SUELDOS, HONORARIOS, COMPENSACIONES, BONOS Y OTRAS PRESTACIONES) (CANTIDADES NETAS DE IMPUESTOS).
              {% endif %}
              <small class="text-help text-primary">(SOLO NÚMEROS)</small>
              <span class="text-danger text-lg font-weight-bold">*</span>
              {% comment %}<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Por concepto de sueldos, honorarios, compensaciones, bonos y otras prestaciones. En caso de no tener, el campo  debe llenarse con '0'">
                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
              </button> {% endcomment %}
            </label>
            <div class="row">
            {% comment %} <div class="col-md-6">
              {% include 'layout/currency.html' with name=sueldos_publicos_form.remuneracionMensualNeta.name place="Monto" value=sueldos_publicos_form.remuneracionMensualNeta.value base="sueldos_publicos" required=True %}
              <span class="invalid-feedback" id="monto_cero" style="display:none;">El monto debe ser mayor a cero</span>
            </div>  {% endcomment %}
              <div class="col-md-6">
                {% bootstrap_field sueldos_publicos_form.remuneracionMensualNeta placeholder="Monto" show_label=False field_class="m1 i" %}
                <span class="invalid-feedback" id="monto_cero" style="display:none;">El monto debe ser mayor a cero</span>
              </div> 
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="{{ for_label }}" class="label-secondary mb-2">
              {% if tipo_declaracion == 'MODIFICACION' %}
                II. OTROS INGRESOS ANUALES DEL DECLARANTE
                <small class="text-help text-primary">(SUMA DEL II.1 AL II.5)</small>
              {% elif tipo_declaracion == 'CONCLUSION' %}
                II. OTROS INGRESOS DEL DECLARANTE
                <small class="text-help text-primary">(SUMA DEL II.1 AL II.5)</small>
              {% else %}
                II. OTROS INGRESOS MENSUALES DEL DECLARANTE
                <small class="text-help text-primary">(SUMA DEL II.1 AL II.4)</small>
              {% endif %}
              <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Ingreso del declarante sin impuestos ni deducciones.">
                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
              </button>
            </label>
            <div class="row">
              <div class="col-md-6">
                <input type="number" id="s2" class="form-control" placeholder="0.0" readonly="true" value="0.0" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.1 POR ACTIVIDAD INDUSTRIAL, COMERCIAL Y/O EMPRESARIAL (DESPUÉS DE IMPUESTOS)" title_button="Ingreso del declarante sin impuestos ni deducciones. En caso de no tener, poner un 0" is_required=False only_number=True %}
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field sueldos_publicos_form.remuneracionActividadIndus placeholder="Ingresos por actividad Industrial" show_label=False field_class="m2_1 m" %}
              </div>
            </div>
          </div>
          <div class="row col-md-12" id="fieldsActividadIndustrial">
            <div class="col-md-6">
              {% include 'elementos/label.html' with text_label="NOMBRE O RAZÓN SOCIAL" title_button="Indicar Razón Social o Nombre. En caso de no tener llenarlo con 'NINGUNO'" is_required=True %}
              {% bootstrap_field sueldos_publicos_form.razonSocial placeholder="Razón Social" show_label=False %}
            </div>
            <div class="col-md-6">
              {% include 'elementos/label.html' with text_label="TIPO DE NEGOCIO" title_button="Indicar el tipo de negocio por el cual obtuvo el ingreso" is_required=True%}
              {% bootstrap_field sueldos_publicos_form.tipoNegocio placeholder="Tipo de Negocio" show_label=False %}
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4">
              {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.2 POR ACTIVIDAD FINANCIERA (DESPUÉS DE IMPUESTOS)" title_button="Ingreso del declarante sin impuestos ni deducciones. En caso de no tener, poner un 0." is_required=False %}
              {% bootstrap_field sueldos_publicos_form.remuneracionActFinan placeholder="Ingresos por actividad Financiera" show_label=False  field_class="m2_2 m" %}
            </div>
            <div class="col-md-7" id="fieldsRemuneracionActFinan">
              {% include 'elementos/label.html' with text_label="TIPO DE INSTRUMENTO QUE GENERÓ EL RENDIMIENTO O GANANCIA" title_button="Indicar el tipo de instrumento que generó el rendimiento o ganancia" is_required=True%}
              <div class="row">
                <div class="col-md-8">
                  {% bootstrap_field sueldos_publicos_form.tipoActFinan show_label=False %}
                </div>
                <div class="col-md-4" id="otro-{{ sueldos_publicos_form.tipoActFinan.html_name }}">
                  {% bootstrap_field sueldos_publicos_form.otroTipoInstrumentoGanancia show_label=False %}
                </div>
              </div>
              <!-- {% include 'layout/radiobuttons.html' with field_select=sueldos_publicos_form.fields.tipoActFinan  field_name=sueldos_publicos_form.tipoActFinan otro_name=sueldos_publicos_form.otroTipoInstrumentoGanancia col=4 col_o=4 %} -->
            </div>
          </div>

          <div class="row col-md-12 mt-5">
            <div class="col-md-6">
              {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.3 POR SERVICIOS PROFESIONALES, CONSEJOS, CONSULTORÍAS Y/O ASESORÍAS (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=False only_number=True %}
              {% bootstrap_field sueldos_publicos_form.remuneracionServProf placeholder="Ingresos por actividad Financiera" show_label=False field_class="m2_3 m" %}
            </div>
            <div class="col-md-6" id="fieldsRemuneracionServProf">
              {% include 'elementos/label.html' with text_label="TIPO DE SERVICIO PRESTADO" title_button="Indicar el tipo de servicio por el cual obtuvo el ingreso" is_required=True %}
              {% bootstrap_field sueldos_publicos_form.tipoServProf placeholder="Tipo Servicio Profesional" show_label=False %}
            </div>
          </div>

          {% tipo_declaracion as tipo %}
          {% if tipo == "Declaración de conclusión" or tipo == "Declaración de modificación"%}
            <div class="row col-md-12 mt-3">
              <div class="col-md-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.4 POR ENAJENACIÓN DE BIENES (DESPUÉS DE IMPUESTOS)" title_button="En caso de no tener, el campo debe llenarse con '0'" is_required=False only_number=True %}
                {% bootstrap_field sueldos_publicos_form.remuneracionEnajenacion placeholder="Ingresos por Enajenación" show_label=False field_class="m" %}
              </div>
              <div class="col-md-6" id="fieldsTiposEnajenados">
                {% include 'elementos/label.html' with text_label="TIPO BIEN ENAJENADO" title_button="Elegir el tipo de bien enajenado: MUEBLE, INMUEBLE, VEHÍCULO." is_required=True apply=True%}
                {% bootstrap_field sueldos_publicos_form.tipoEnajenacion show_label=False %}
                {% comment %}{% include 'layout/radiobuttons.html' with field_select=sueldos_publicos_form.fields.tipoEnajenacion  field_name=sueldos_publicos_form.tipoEnajenacion otro_name=sueldos_publicos_form.tipoEnajenacion col=3 col_o=4 %}{% endcomment %}
              </div>
            </div>
            <div class="row col-md-12 mt-3">
              <div class="col-md-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.5 OTROS INGRESOS NO CONSIDERADOS A LOS ANTERIORES (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=False only_number=True %}
                {% bootstrap_field sueldos_publicos_form.remuneracionOtrosIng placeholder="Otros Ingresos" show_label=False field_class="m2_4 m" %}
              </div>
              <div class="col-md-6" id="fieldsRemuneracionOtrosIng">
                {% include 'elementos/label.html' with text_label="ESPECIFICAR TIPO DE INGRESO" title_button="Arrendamiento, regalía, sorteos, concursos, donaciones, seguros de vida, etc.’" is_required=True %}
                {% bootstrap_field sueldos_publicos_form.tipoOtrosIng placeholder="Otro tipo de Servicio Profesional" show_label=False %}
              </div>
            </div>
          {% else %}
            <div class="row col-md-12 mt-3">
              <div class="col-md-6">
                {% include 'elementos/label.html' with for_label="ingreso_bruto_anual" text_label="II.4 OTROS INGRESOS NO CONSIDERADOS A LOS ANTERIORES (DESPUÉS DE IMPUESTOS)" title_button="Servicios Profesionales. En caso de no tener, el campo debe llenarse con '0'." is_required=False only_number=True %}
                {% bootstrap_field sueldos_publicos_form.remuneracionOtrosIng placeholder="Otros Ingresos" show_label=False field_class="m2_4 m" %}
              </div>
              <div class="col-md-6" id="fieldsRemuneracionOtrosIng">
                {% include 'elementos/label.html' with text_label="ESPECIFICAR TIPO DE INGRESO" title_button="Arrendamiento, regalía, sorteos, concursos, donaciones, seguros de vida, etc." is_required=True %}
                {% bootstrap_field sueldos_publicos_form.tipoOtrosIng placeholder="Otro tipo de Servicio Profesional" show_label=False %}
              </div>
            </div>
          {% endif %}
          <div class="row col-md-12 mt-3">
            <div class="col-md-6">
              {% load static %}
              <label for="{{ for_label }}" class="label-secondary mb-2">
                {% if tipo_declaracion == 'MODIFICACION' %}
                  A. INGRESO ANUAL NETO DEL DECLARANTE
                {% elif tipo_declaracion == 'CONCLUSION' %}
                  A. INGRESOS DEL DECLARANTE DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN
                {% else %}
                  A. INGRESO MENSUAL NETO DEL DECLARANTE
                {% endif %}
                <small class="text-help text-primary">(SUMA DEL I y II)</small>
                <span class="text-danger text-lg font-weight-bold">*</span>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="{{ title_button }}">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
              </label>
              <span class="n"><input type="text" id="s3" class="form-control" placeholder="Ingreso Mensual Neto" readonly="true" /></span>
            </div>
            <div class="col-md-6" {% if completa == False %} style="display: none;" {% endif %}>
              <label for="{{ for_label }}" class="label-secondary mb-2">
                {% if tipo_declaracion == 'MODIFICACION' %}
                  B. INGRESO ANUAL NETO DE LA PAREJA Y/O DEPENDIENTES ECONÓMICOS
                {% elif tipo_declaracion == 'CONCLUSION' %}
                  B. INGRESOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN DE LA PAREJA Y/O DEPENDIENTES ECONÓMICOS
                {% else %}
                  B. INGRESO MENSUAL NETO DE LA PAREJA Y/O DEPENDIENTES ECONÓMICOS
                {% endif %}
                <span class="text-danger text-lg font-weight-bold">*</span>
                <small class="text-help text-primary">(DESPUÉS DE IMPUESTOS)</small>
                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999" title="Arrendamiento, regalía, sorteos, concuros, donaciones, seguros de vida, etc. En caso de no tener, el campo debe llenarse con '0' o llenarlo escribiendo 'NINGUNO'">
                  <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                </button>
              </label>
              {% bootstrap_field sueldos_publicos_form.ingresoMensualDependientes placeholder="Ingresos Dependientes Económicos" show_label=False field_class="n" %}
              <span class="invalid-feedback" id="ingresos_cero" style="display:none;">El monto debe ser mayor a cero</span>
            </div>
          </div>
          <div class="col-md-6 mt-3 mb-0" {% if completa == False %} style="display: none;" {% endif %}>
            {% if tipo_declaracion == 'CONCLUSION' %}
              {% include 'elementos/label.html' with text_label="C. TOTAL DE INGRESOS NETOS DEL AÑO EN CURSO A LA FECHA DE CONCLUSIÓN DEL EMPLEO, CARGO O COMISIÓN PERCIBIDOS POR EL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS" title_button="Suma de los Apartados A y B. Monto final que recibe el trabajador tras reducciones de impuestos" is_required=False only_number=True %}
            {% else %}
              {% include 'elementos/label.html' with text_label="C. TOTAL DE INGRESOS NETOS DEL DECLARANTE, PAREJA Y/O DEPENDIENTES ECONÓMICOS (SUMA DE LOS APARTADOS A Y B)" title_button="Suma de los Apartados A y B. Monto final que recibe el trabajador tras reducciones de impuestos" is_required=False only_number=True %}
            {% endif %}
            <input type="text" id="s4" class="form-control" placeholder="Total de Ingresos" readonly="true"/>
            <span id="spTotal"></span>
          </div>
          <br>
          {% include 'elementos/textarea_aclaraciones_observaciones.html' with save_add=False %}
          {% include 'layout/guardar.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
  
    function monto_cero(input, label){
      if(input.value==0){
            input.value = "";
            label.style.display = "block";
        }else{
            label.style.display = "none";
        }
    }
    $sueldos = document.getElementById("id_sueldos_publicos-remuneracionMensualNeta");
    $monto = document.getElementById("monto_cero");
    $ingresos = document.getElementById("id_sueldos_publicos-ingresoMensualDependientes");
    $ingreso_cero = document.getElementById("ingresos_cero");

    monto_cero($sueldos, $monto);
    // monto_cero($ingresos, $ingreso_cero);
  
  
    $sueldos.addEventListener("input", function(){
      monto_cero($sueldos, $monto);
    });
    // $ingresos.addEventListener("input", function(){
    //   monto_cero($ingresos, $ingreso_cero);
    // });
  });
</script>
{% endblock %}