{% load static %}
<!DOCTYPE html>
<html lang="es" style="min-height: 100%;position: relative;">
<head>
    {% if debug_flag %}
        <meta name="robots" content="noindex">
    {% else %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endif %}
    <link rel='icon' href="{% static 'src/img/favicon.png' %}" type='image/x-icon'/ >
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>
    <title>Declaraciones abiertas</title>
</head>
<body>
    <div class="page-container">
        {% include 'visor/general/header.html' %}
        {# El filtro únicamente se muestra en el home y en el list del visor #}
        {% url 'declaracion:visor' as visor_home %}
        {% url 'declaracion:visor-list' as visor_list %}
        <section class="d-block">
            {% if request.path == visor_home or request.path == visor_list %}
                {% include 'visor/general/filtro.html' %}
            {% endif %}
            <div class="container mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        {% include 'visor/general/footer.html' %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
{% comment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
{% endcomment %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>

{% block javascript %}
{% endblock %}
</html>
