{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1>Declaraciones (Histórico)</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">ID</a></div></th>
                    <th><div class="text"><a href="#">Folio</a></div></th>
                    <th><div class="text"><a href="#">Usuario</a></div></th>
                    <th><div class="text"><a href="#"><strong>Declaración</strong></a></div></th>
                    <th><div class="text"><a href="#"><strong>Fecha</strong></a></div></th>
                    <th><div class="text"><a href="#"><strong>Acción</strong></a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for row in cl.result_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.history_id|default_if_none:'' }}</td>
                        <td>{{ row.folio|default_if_none:'' }}</td>
                        <td>{{ row.history_user_id__username|default_if_none:'' }}</td>
                        <td>{{ row.cat_tipos_declaracion_id__nombre|default_if_none:'' }}</td>
                        <td>{{ row.history_date|default_if_none:'' }}</td>
                        <td>
                            <strong>
                                {% if row.history_type == '-' %}
                                    Borrado
                                {% elif row.history_type == '+' %}
                                    Creado
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}