{% load static %}


<!DOCTYPE html>
<html lang="es">
    <head>
        {% if debug_flag %}
            <meta name="robots" content="noindex">
        {% else %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <!--  Meta tags para Redes Sociales, por ejemplo para la imagen pequenia que se muestra al compartir -->
            <!-- Primary Meta Tags -->
            <title>ISJURIS – Ilustre Sociedad de Jurisconsultos de México A.C.</title>
            <meta name="title" content="ISJURIS – Ilustre Sociedad de Jurisconsultos de México A.C.">
            <meta name="description" content="Prestar institucionalmente servicios de asesoría, capacitaciones, talleres, cursos, conferencias en materia Legal, Financiera, Política-Electoral, Estrategia de Comunicación, Marketing, Psicológica, Médica entre otras disciplinas integradas a este gran colegio de manera integral y de altos niveles de calidad transmitiendo la seguridad de que la capacitación y el servicio que encomienden son la prioridad en atención y profesionalismo.">
            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://isjuris.org">
            <meta property="og:title" content="ISJURIS – Ilustre Sociedad de Jurisconsultos de México A.C.">
            <meta property="og:description" content="Prestar institucionalmente servicios de asesoría, capacitaciones, talleres, cursos, conferencias en materia Legal, Financiera, Política-Electoral, Estrategia de Comunicación, Marketing, Psicológica, Médica entre otras disciplinas integradas a este gran colegio de manera integral y de altos niveles de calidad transmitiendo la seguridad de que la capacitación y el servicio que encomienden son la prioridad en atención y profesionalismo.">
            <meta property="og:image" content="{% static 'src/img/network.png' %}">
            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="https://isjuris.org">
            <meta property="twitter:title" content="ISJURIS – Ilustre Sociedad de Jurisconsultos de México A.C.">
            <meta property="twitter:description" content="Prestar institucionalmente servicios de asesoría, capacitaciones, talleres, cursos, conferencias en materia Legal, Financiera, Política-Electoral, Estrategia de Comunicación, Marketing, Psicológica, Médica entre otras disciplinas integradas a este gran colegio de manera integral y de altos niveles de calidad transmitiendo la seguridad de que la capacitación y el servicio que encomienden son la prioridad en atención y profesionalismo.">
            <meta property="twitter:image" content="{% static 'src/img/network.png' %}">
            <meta name="theme-color" content="#417505">
        {% endif %}
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel='icon' href="{% static 'src/img/favicon.png' %}" type='image/x-icon'/ >
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="loader"></div>
        <div class="page-container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-success-lighter header">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'src/img/isjuris.png' %}" alt="ISJURIS - Ilustre Sociedad de Jurisconsultos de México A.C." class="">
                </a>
                <button class="navbar-toggler custom-toggler btn" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="custom-toggler__box">
                        <div class="custom-toggler__bar"></div>
                    </div>
                </button>
                {% comment %}<div class="collapse navbar-collapse" id="header-nav">
                    <div class="navbar-nav mr-auto text-sm align-items-lg-center font-weight-semibold mt-3 mt-lg-0">
                        <a class="nav-item nav-link text-uppercase" href="{% url 'preguntas-frecuentes' %}">Preguntas frecuentes</a>
                        <a class="nav-item nav-link text-uppercase" href="{% url 'aviso_privacidad' %}">Aviso de privacidad</a>
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link text-uppercase d-lg-none" href="{% url 'declaracion:perfil' %}">Mi cuenta</a>
                            <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:declaracion' %}">Realizar declaración</a>
                            <a class="nav-item nav-link text-uppercase" href="{% url 'informacion' %}">Información</a>
                            <a class="nav-item nav-link text-uppercase" href="{% url 'declaraciones-previas' %}">Declaraciones previas</a>
                            <a class="nav-item nav-link text-uppercase d-lg-none" href="{% url 'logout' %}">Cerrar sesión</a>
                        {% endif %}
                    </div>
                    <div class="vl pl-3 d-none d-lg-block">
                    {% if logged and request.path == "/" %}
                        <div class="h-100 dropdown header__dropdown">
                            <div class="h-100 py-0 px-1 d-flex align-items-center">
                                <label class="font-weight-bold" style="color: #fff;margin:0;">Mi cuenta Llave CDMX</label>
                                <img src="{% static 'src/img/user_icon.svg' %}" alt="Usuario" class="ml-3">
                            </div>
                        </div>
                    {% elif user.is_authenticated %}
                        <div class="dropdown header__dropdown h-100">
                            <button class="btn btn-link dropdown-toggle h-100 py-0 px-1 d-flex align-items-center" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'src/img/usuario.svg' %}" alt="Usuario" class="svg mr-2">
                                <span>{{ user.first_name }} {{ user.last_name }} <span class="d-block">{{ user.get_username }}</span></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="user-menu">
                                <a class="dropdown-item text-sm" href="{% url 'declaracion:perfil' %}">Mi cuenta</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-sm" href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="header__login d-flex flex-column align-items-center justify-content-center h-100 text-gray-light">
                        <img src="{% static 'src/img/candado-cerrado.svg' %}" alt="Inicia sesión" class="mb-2 svg svg-currentcolor">
                        <p class="font-weight-bold text-sm text-uppercase m-0">Ingresar</p>
                        </a>
                    {% endif %}
                    </div>
                </div>{% endcomment %}
            </nav>
            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                <div class="container-fluid py-3">
                    <div class="row">
                        <div class="col-lg-auto mb-3 mb-md-0">
                            <a class="navbar-brand" href="">
                                <img src="{% static 'src/img/isjuris.png' %}" alt="ISJURIS - Ilustre Sociedad de Jurisconsultos de México A.C." class="footer__logo">
                            </a>
                        </div>
                        <div class="col-lg-auto mb-2 mb-md-0">
                            <p class="footer__heading text-uppercase">¿Tienes dudas?</p>
                            <div class="d-flex">
                                <img src="{% static 'src/img/telefono.png' %}" class="mr-2 footer__icon">
                                <div>
                                    <!-- <p class="m-0">Teléfono para dudas y aclaraciones <strong>56279700</strong></p>
                                    <p class="m-0">Extensión 50027, 50028, , 50029, 50031, 50220, 50226, 50232, 50240 y 51252.</p> -->
                                    <p>Asesoría técnica 55 56279700 ext. 50033 al 50040</p>
                                    <!-- <p>Correo electrónico es: declara@cdmx.gob.mx</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex mb-2">
                                <img src="{% static 'src/img/ubicacion.png' %}" class="mr-2 footer__icon">
                                <p class="m-0">Av. Arcos de Belén #2 Col. Doctores, C.P 06720, Alcaldía Cuauhtémoc, Ciudad de México | Lunes a Viernes de 9:00 a 18:00 hrs.</p>
                            </div>
                            <div class="">
                                <img src="{% static 'src/img/mensaje.png' %}" class="mr-2 footer__icon"><a href="mailto:isjuris@isjuris.org">isjuris@isjuris.org</a>.
                            </div>
                        </div>
                        <div class="col-lg-auto text-center mt-3 mt-lg-0">
                            <p class="mb-1 text-lg-left">Desarrollado por</p>
                            <a href="https://isjuris.org" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'src/img/1.svg' %}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <div class="modal fade" id="confirmModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-message"></h5>
                        <button type="button" class="btn btn-light close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="tableData">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form method="POST" id="deleteModalConfirm">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" id="confirmButtonModal">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'app.js' %}"></script>
        {% block js %}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130624596-40"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-130624596-40');
        </script> -->
    </body>
</html>