{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        {% if debug_flag %}
            <meta name="robots" content="noindex">
        {% else %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <!--  Meta tags para Redes Sociales, por ejemplo para la imagen pequenia que se muestra al compartir -->
            <!-- Primary Meta Tags -->
            <title>APP – APP</title>
            <meta name="title" content="APP – APP">
            <meta name="description" content="">
            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="">
            <meta property="og:title" content="APP – APP">
            <meta property="og:description" content="">
            <meta property="og:image" content="{% static 'src/img/network.png' %}">
            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="">
            <meta property="twitter:title" content="APP – APP">
            <meta property="twitter:description" content="">
            <meta property="twitter:image" content="{% static 'src/img/network.png' %}">
            <meta name="theme-color" content="#417505">
        {% endif %}
        <link rel="stylesheet" href="{% static 'app.css' %}">

        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="container py-4 px-3 mx-auto">
            <h1>Hello, Bootstrap  5.3.1 and Webpack!</h1>
            <button class="btn btn-primary">Primary button</button>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'app.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>