<!-- Modal Conyuge -->
<div class="modal fade" id="conyugeModal" tabindex="-1" role="dialog" aria-labelledby="conyugeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="conyugeModalLabel">No tiene cónyuges o concubinos registrados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No tiene cónyuges o concubinos registrados, favor de ir a la sección 6. datos de la pareja para registrarlo ó seleccionar otro titular
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>