{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

  <form action="{% url 'declaracion:busqueda-declarantes' %}" method="get" id="form">
    <section class="container">
      <div class="row row-md ">
        <h1 class="text-gray text-xl font-weight-medium text-uppercase mt-5 line-height-md title-mobile text-mobile"><span class="text-primary-light font-weight-semibold">Declarantes</span> Búsqueda</h1>
        <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row bg-gray p-4 rounded">
          {% bootstrap_field form.page show_label=False%}
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.nombre field_class="solo_letras" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.apellido1 field_class="solo_letras" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.apellido2 field_class="solo_letras" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.rfc field_class="valida_rfc" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <label > Ente público</label>
              {% bootstrap_field form.ente show_label=False %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.curp field_class="valida_curp" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.estatus %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
              <button class="btn btn-success-lighter text-uppercase font-weight-semibold mt-5"  type="submit">Buscar  <img src="{% static 'src/img/busqueda.svg' %}"/></button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <strong>Se encontr{{ count|pluralize:"ó,aron" }} {{count}} declarante{{ count|pluralize:",s" }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-md">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRIMER APELLIDO</th>
              <th scope="col">SEGUNDO APELLIDO</th>
              <th scope="col">RFC</th>
              <th scope="col">CURP</th>
              <th scope="col">ESTATUS</th>
              <th scope="col">VER DETALLE</th>
            </tr>
          </thead>
          <tbody>
            {% for declarante in object_list %}
              <tr>
                <td scope="row">{{ declarante.nombres }}</td>
                <td>{{ declarante.apellido1 }}</td>
                <td>{{ declarante.apellido2 }}</td>
                <td>{{ declarante.rfc }}</td>
                <td>{{ declarante.curp }}</td>
                <td>{% if declarante.usuario.is_active %} <span class="text-primary-light">Activo</span> {% else %} Inactivo {% endif %} </td>
                <td><a href="{%  url 'declaracion:info-declarante' declarante.pk %}"> <img src="{% static 'src/img/reconocimiento-facial-2.svg' %}"></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-12">
          {% include 'elementos/paginator.html' %}
        </div>
      </div>
    </section>
  </form>
{% endblock %}
