{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
  <form action="{% url 'declaracion:busqueda-declaraciones-declarante' %}" method="get" id="form">
    <section class="container">
      <div class="row row-md ">
        <h1 class="text-gray text-xl font-weight-medium text-uppercase mt-5 line-height-md title-mobile text-mobile"><span class="text-primary-light font-weight-semibold">DECLARACIONES</span> Búsqueda</h1>
        <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row bg-gray p-4 rounded">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.nombres %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.apellido1 %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.apellido2 %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.curp %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.rfc field_class="valida_rfc" %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.email_laboral %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.tipo %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <label> Ente público</label>
              {% bootstrap_field form.ente show_label=False %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              {% bootstrap_field form.ano %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <button class="btn float-right btn-success-lighter text-uppercase font-weight-semibold mt-3"  type="submit">Buscar  <img src="{% static 'src/img/busqueda.svg' %}"/></button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3">
              <strong>Se encontr{{ count|pluralize:"ó,aron" }} {{count}} declaraci{{ count|pluralize:"ón,ones" }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-md">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">FOLIO</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">ENTE PÚBLICO</th>
              <th scope="col">CARGO</th>
              <th scope="col">PLAZO DE REALIZACIÓN</th>
              <th scope="col">FECHA DE FIRMA</th>
              <th scope="col">INICIO DE CARGO</th>
              <th scope="col">FIN DE CARGO</th>
              <th scope="col">ESTATUS</th>
              <th scope="col">VER DECLARACIÓN</th>
            </tr>
          </thead>
          <tbody>
          {% for declaracion in object_list %}
            <tr>
              <td>{{ declaracion.folio }}</td>
              <td>{{ declaracion.info_personal_fija.nombres }} {{ declaracion.info_personal_fija.apellido1 }} {{ declaracion.info_personal_fija.apellido2 }}</td>
              <td>{{ declaracion.dependencia }}</td>
              <td>{{ declaracion.puesto|truncatechars:50 }}</td>
              <td>{{ declaracion.created_at|date:"d-m-Y" }}</td>
              <td>{{ declaracion.fiel_fecha_firma|date:"d-m-Y"|default:"-" }}</td>
              <td>{{ declaracion.datos_empleo_cargo_comision.posesion_inicio|date:"d-m-Y"|default:"-" }}</td>
              <td>{{ declaracion.datos_empleo_cargo_comision.posesion_conclusion|date:"d-m-Y"|default:"-" }}</td>
              <td>{{ declaracion.cat_estatus }}</td>
              <td><a href="{%  url 'declaracion:informacion-general' declaracion.folio %}"> <img src="{% static 'src/img/contar2.svg' %}"></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row row-md text-center">
        <div class="col-12">
          {% include 'elementos/paginator.html' %}
        </div>
      </div>
    </section>
  </form>
{% endblock %}