  {% load secciones %}
  <!-- 2.- DOMICILIO DEL DECLARANTE -->
  {% if domicilio %}
    <div class="col-12">
      <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'cat_pais' '0' %} text-uppercase" ><dt> PAÍS </dt>
        <dd class="text-black_opciones">{{ domicilio.cat_pais|default_if_none:"" }}</dd>
      </dl>
      {% if domicilio.cat_pais.codigo == 'MX' %}
        <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'codigo_postal' '0' %} text-uppercase" ><dt> CÓDIGO POSTAL, COLONIA, ALCALDÍA - MUNICIPIO </dt>
          <dd class="text-black_opciones">{{ domicilio.codigo_postal|default_if_none:"" }}</dd>
        </dl>
        <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'cat_entidades_federativas' '0' %} text-uppercase" ><dt> ENTIDAD FEDERATIVA </dt>
          <dd class="text-black_opciones">{{ domicilio.cat_entidades_federativas|default_if_none:"" }}</dd>
        </dl>
      {% else %}
            <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'municipio' '0' %} text-uppercase"><dt> MUNICIPIO / ALCALDÍA </dt>
              <dd class="text-black_opciones">{{ domicilio.municipio|default_if_none:"" }}</dd>
            </dl>
          <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'colonia' '0' %} text-uppercase"><dt> COLONIA / LOCALIDAD </dt>
            <dd class="text-black_opciones">{{ domicilio.colonia|default_if_none:"" }}</dd>
          </dl>
          <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'cp' '0' %} text-uppercase"><dt> CÓDIGO POSTAL </dt>
            <dd class="text-black_opciones">{{ domicilio.cp|default_if_none:"" }}</dd>
          </dl>
      {% endif %}
      <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'nombre_via' '0' %} text-uppercase"><dt> CALLE </dt>
        <dd class="text-black_opciones">{{ domicilio.nombre_via|default_if_none:"" }}</dd>
      </dl>
      <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'num_exterior' '0' %} text-uppercase"><dt> NÚMERO EXTERIOR </dt>
        <dd class="text-black_opciones">{{ domicilio.num_exterior|default_if_none:"" }}</dd>
      </dl>
      <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'num_interior' '0' %} text-uppercase"><dt> NÚMERO INTERIOR </dt>
        <dd class="text-black_opciones">{{ domicilio.num_interior|default_if_none:"" }}</dd>
      </dl>
      {% if domicilio.observaciones.observacion|length > 0 %}
        <dl class="p_opciones{% obligatorio_faltante domicilio '1.2' 'observaciones' '0' %} text-uppercase"><dt> ACLARACIONES / OBSERVACIONES </dt>
          <dd class="text-black_opciones">{{ domicilio.observaciones.observacion|default_if_none:"" }}</dd>
        </dl>
      {% endif %}
    </div>
  {% endif %}